
body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: #ebeff2;
    font-family: 'OpenSansRegular', Arial;
    font-size: 14px;
    color: #4b4b4b;
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    min-height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


@font-face {
    font-family: 'OpenSansRegular';
    src: url('../font/OpenSans-Regular-webfont.eot');
    src: url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/OpenSans-Regular-webfont.woff') format('woff'), url('../font/OpenSans-Regular-webfont.ttf') format('truetype'), url('../font/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../font/OpenSans-Semibold-webfont.eot');
    src: url('../font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/OpenSans-Semibold-webfont.woff') format('woff'), url('../font/OpenSans-Semibold-webfont.ttf') format('truetype'), url('../font/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../font/OpenSans-Bold-webfont.eot');
    src: url('../font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/OpenSans-Bold-webfont.woff') format('woff'), url('../font/OpenSans-Bold-webfont.ttf') format('truetype'), url('../font/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*************************************************************
*********************** Generel *****************************/
a {
    color: #5598cb;
    text-decoration: none;
    outline: none !important;
}

    a:hover {
        color: #2e80bf;
        text-decoration: underline;
    }

img {
    border: none;
}

a, img {
    outline: none;
}

    a:focus {
        outline: none;
    }

.table {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'OpenSansRegular', arial;
}

h1, h2, h3, h4, h5, h6, ul, li, p, form {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
    list-style-type: none;
}

.clear {
    clear: both;
    padding: 0;
    margin: 0;
    height: 0;
}

.clr {
    clear: both;
}

b, strong {
    font-family: 'OpenSansSemibold', arial;
    font-weight: normal;
}

/********** bootstrap CSS changes **********/
.form-control {
    margin: 3px auto;
    border-radius: 0px;
    padding: 6px 6px;
    font-size: 13px;
    border: 1px solid #d2d8dd;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

    .form-control:focus {
        border-color: #c5ccd1;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.065), 0 0 8px rgba(184, 199, 210, .3);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.065), 0 0 8px rgba(184, 199, 210, .3);
    }

.btn {
    font-size: 13px;
    margin-right: 4px !important;
}

.control-label {
    padding-right: 0px !important;
    font-weight: normal;
    margin-bottom: 3px;
    color: #333;
    font-size: 13px;
}

input[type="radio"], input[type="checkbox"] {
    margin-top: 3px;
}

.radio label, .checkbox label {
    margin-right: 5px;
}

.btn-primary, .btn-default {
    background: #4d5255;
    border-radius: 0;
    margin: 0;
    border: none;
    padding: 6px 18px;
    font-size: 14px;
    font-family: 'OpenSansRegular';
    font-weight: normal;
    color: #fff;
    transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
}

    .btn-primary:hover, .btn-primary:focus {
        background: #333;
        color: #fff;
        outline: none;
    }

.btn-default {
    background: #306aac;
}

    .btn-default:hover, .btn-default:focus {
        background: #103e73;
        color: #fff;
        outline: none;
    }

.panel {
    border-radius: 0px;
    overflow: hidden;
}

.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-default {
    border: none !important;
}

.modal .grid-bottom table td{ padding:0 !important;}

/*************************************************************
*********************** Header *****************************/
#header {
    background: #36404a;
    height: 62px;
    padding: 0px 10px 0px 10px;
    position: fixed;
    z-index: 100;
    min-width: 320px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.20);
}

.logo {
    padding: 15px 0px 0px 0px;
    float: left;
}

/******************* wrapper ********************/
#mainwrap {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0 0 110px 0;
}

#wrapper {
    margin-right: 300px;
     transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
}

.page-content-wrapper {
    width: 100%;
    padding-top: 63px;
}

.toglink {
    display: block;
    height: 62px;
    padding: 20px 0 0 0;
    width: 50px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0px;
    transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
}

    .toglink:hover {
        background: #515c68;
    }

#wrapper.active {
    margin-right: 0;
}

    #wrapper.active .sidebar { /* right:-300px; */
        width: 0;
        opacity: 0;
    }

body {
    overflow-x: hidden;
}

.sidebar {
    transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    top: 0px;
    right: 0px;
    width: 300px;
    background: #fff;
    border-left: 1px solid #d3d8dc;
    position: absolute;
    height: 100%;
    z-index: 10;
    padding-bottom: 100px;
}

.sidebar_title {
    background-color: #5fbeaa;
    font-size: 23px;
    font-family: 'OpenSansSemibold';
    font-weight: normal;
    color: #fff;
    padding: 10px 14px;
    margin: 0px 0px 0px 0px;
}

    .sidebar_title img {
        vertical-align: -2px;
        padding-right: 12px;
    }

.sidebar_content {
    padding-top: 62px;
}

.tabnavs {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 64px;
    border-bottom: 3px solid #e6e6e6;
}

    .tabnavs li {
        margin: 0;
        padding: 0;
    }

        .tabnavs li a {
            text-decoration: none;
        }

            .tabnavs li a.customer {
                background: url(../images/ic-customer.png) no-repeat center;
                display: block;
                height: 64px;
            }

                .tabnavs li a.customer:hover {
                    background: url(../images/ic-customer_h.png) no-repeat center;
                }

                .tabnavs li a.customer.active {
                    border-bottom: 3px solid #5fbeaa;
                    background: url(../images/ic-customer_h.png) no-repeat center;
                }

            .tabnavs li a.product {
                background: url(../images/ic-cart.png) no-repeat center;
                display: block;
                height: 64px;
            }

                .tabnavs li a.product:hover {
                    background: url(../images/ic-cart_h.png) no-repeat center;
                }

                .tabnavs li a.product.active {
                    border-bottom: 3px solid #5fbeaa;
                    background: url(../images/ic-cart_h.png) no-repeat center;
                }

            .tabnavs li a.sqr {
                background: url(../images/ic-sqr.png) no-repeat center;
                display: block;
                height: 64px;
            }

                .tabnavs li a.sqr:hover {
                    background: url(../images/ic-sqr_h.png) no-repeat center;
                }

                .tabnavs li a.sqr.active {
                    border-bottom: 3px solid #5fbeaa;
                    background: url(../images/ic-sqr_h.png) no-repeat center;
                }

.tab-content {
    margin: 0;
    padding: 0;
}

    .tab-content h4 {
        font-size: 18px;
        color: #5fbeaa;
        font-family: 'OpenSansSemibold';
        font-weight: normal;
        margin: 0;
        padding: 12px 12px;
    }

.sidetable {
    margin: -1px;
    padding: 0;
}

    .sidetable .table-responsive td {
        padding: 8px !important;
    }

.btnrow {
    overflow: hidden;
    margin: 14px 10px;
}

    .btnrow .linkbtn {
        background-color: #36404a;
        padding: 7px 14px 7px 8px;
        font-family: 'OpenSansSemibold';
        font-weight: normal;
        font-size: 13px;
        color: #fff;
        display: inline-block;
        margin: 0px 4px 0px 0px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
    }

        .btnrow .linkbtn img {
            vertical-align: -2px;
            padding-right: 5px;
        }

        .btnrow .linkbtn:hover, .btnrow .linkbtn:focus {
            background-color: #475868;
            text-decoration: none;
        }

        
         .linkbutton:hover,.linkbutton:focus {
            background-color: #475868;
            text-decoration: none;
            color: #fff;
        }
.textinput {
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/****************************** Content ********************************/
.content {
    padding: 20px;
}

h1 {
    font-size: 30px;
    color: #103e73;
    padding: 0 0 9px 0;
    margin: 0;
    line-height: 1;
    font-family: 'OpenSansRegular';
    font-weight: normal;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 18px;
    position: relative;
}

h2 {
    font-size: 22px;
    line-height: 24px;
    color: #464646;
    padding: 0px 0px 12px 0;
    margin: 0px;
    line-height: 1;
    font-family: 'OpenSansSemibold';
    font-weight: normal;
    position: relative;
}


.addlink {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 8px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #7c7c7c;
}

    .addlink span {
        width: 20px;
        height: 20px;
        background: url(../images/plus-ic.png) no-repeat center #306aac;
        display: inline-block;
        vertical-align: -5px;
        margin-right: 6px;
    }

    .addlink:hover, .addlink:focus {
        text-decoration: none;
        color: #1d4c82;
    }

        .addlink:hover span {
            background: url(../images/plus-ic.png) no-repeat center #1d4c82;
        }

.form-block {
    margin: 24px 0px;
    overflow: hidden;
}

.custom-select {
    position: absolute;
    right: 0;
    top: -7px;
    font-family: 'OpenSansRegular';
    font-weight: normal;
}

    .custom-select label {
        float: left;
        margin-right: 8px;
        padding-top: 8px;
    }

    .custom-select .listgroup {
        float: left;
        width: 200px;
    }

#grid {
    margin: 0px 0 0 0px;
}

.table {
    margin: 0;
}

.table-responsive {
    background: #fff;
    margin: 0px 0px 0px 0px;
    overflow-y: hidden;
    width: 100%;
}

    .table-responsive td {
        font-size: 13px;
        color: #4d5053;
        padding: 10px 10px !important;
    }

    .table-responsive th {
        font-size: 13px;
        color: #424242;
        padding: 10px 10px !important;
        font-family: 'OpenSansSemibold';
        font-weight: normal;
        background: #e6e6e6;
    }

.table > thead > tr > th {
    border-bottom: none;
}

.table-bordered {
    border: 1px solid #d3d8dc;
}

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border-color: #d3d8dc;
    }

.table-hover > tbody > tr:hover {
    background-color: #f9f9f9;
}

.pagination {
    margin: 5px 0;
    border-radius: 0;
    display: inline-block;
}

    .pagination td a {
        margin-left: 5px;
        font-size: 13px;
        color: #4e5153;
        border: 1px solid #dbdbdb;
        background: #fff;
    }

        .pagination td a:hover {
            background: #fff;
            color: #4e5153;
            text-decoration: none;
            border: 1px solid #ccc;
        }

        .pagination td a:focus {
            text-decoration: none;
        }

        .pagination td a:focus, .pagination td span:focus {
            background: #fff;
            color: #4e5153;
        }

    .pagination td:first-child a, .pagination td:first-child span {
        border-radius: 0;
    }

    .pagination td:last-child a, .pagination td:last-child span {
        border-radius: 0;
    }

    .pagination td a, .pagination td span {
        padding: 5px 10px;
    }

    .pagination .disabled span, .pagination .disabled span:hover, .pagination .disabled span:focus, .pagination .disabled a, .pagination .disabled a:hover, .pagination .disabled a:focus {
        border: 1px solid #e6e6e6;
        text-decoration: none;
    }

    .pagination .active a, .pagination .active span, .pagination .active a:hover, .pagination .active span:hover, .pagination .active a:focus, .pagination .active span:focus {
        background-color: #36404a;
        border-color: #36404a;
        color: #fff;
        text-decoration: none;
    }

.action {
    text-align: center;
    width: 80px;
    white-space: nowrap;
}

    .action a {
        margin-left: 5px;
    }

.grid-bottom {
    background: #f4f4f4;
    overflow: hidden;
    padding: 7px 8px;
    border: 1px solid #d3d8dc;
    border-top: none;
    box-shadow: none;
}

.summary {
    margin: 16px 0 0 0px;
}

    .summary table {
        background-color: #5fbeaa;
    }

    .summary .table-bordered {
        border: none;
    }

    .summary .table-responsive td {
        border-color: #83cebe !important;
        text-align: right;
        font-family: 'OpenSansBold';
        font-weight: normal;
        font-size: 16px;
        color: #fff;
    }

        .summary .table-responsive td.tlbl {
            font-size: 14px;
            color: #fff;
            font-family: 'OpenSansRegular';
            font-weight: normal;
            border-top: 0;
        }



/******************* footer ********************/
footer.keypads {
    position: absolute;
    bottom: 0;
    background-color: #36404a;
    padding: 0px 0px;
    width: 100%;
    text-align: right;
    font-size: 12px;
    color: #999999;
    z-index: 100;
}

    footer.keypads .table-responsive {
        background-color: transparent;
        border: none;
    }

        footer.keypads .table-responsive td {
            border-color: #525b63 !important;
            text-align: center;
            font-family: 'OpenSansRegular';
            font-weight: normal;
            font-size: 12px;
            color: #fff;
            min-width: 110px;
        }

    footer.keypads .keys {
        background-color: #2c3640;
        color: #d8e0e7 !important;
        font-family: 'OpenSansBold' !important;
        font-weight: normal;
        cursor: pointer;
        font-size: 14px !important;
        text-transform: uppercase;
    }



/************************ Modal Popup *****************************/
.modal {
    z-index: 100000;
}

.modal-dialog {
    margin-top: 30px;
}

.modal-title {
    font-family: 'OpenSansSemibold';
    font-weight: normal;
    font-size: 18px;
}

.modal_subtitle {
    padding-bottom: 8px;
}

h5 {
    font-family: 'OpenSansSemibold';
    font-weight: normal;
    font-size: 16px;
    margin: 0px 0px 10px 0px;
    color: #555;
}

.modal-content {
    border-radius: 8px;
}

body, #myModal, .modal {
    padding-right: 0 !important;
}

.modal-backdrop.in {
    opacity: 0.7;
}

.modal-header {
    padding: 10px 20px;
}

.modal-body {
    padding: 16px 20px;
    position: relative;
    overflow: hidden;
}

.modal .close {
    opacity: 1;
    color: #333;
    background: none;
    width: 26px;
    height: 26px;
    border: 2px solid #444;
    line-height: 1px;
    text-align: center;
    border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    margin-top: 1px;
    transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
}

    .modal.close:hover {
        background: #efefef;
    }

a, img, a:focus, img:focus, button {
    outline: none;
}

.btn-primary, .btn-default {
    background-color: #525b63;
    border: none;
    padding: 6px 16px 6px 16px;
    margin: 0px;
    height: 32px;
    line-height: 1;
    overflow: visible;
    display: inline;
    cursor: pointer;
    text-transform: normal;
    color: #FFF;
    vertical-align: middle;
    font-family: 'OpenSansRegular';
    font-weight: normal;
    font-size: 14px;
    border-radius: 0;
    box-shadow: 0;
}

    .btn-primary:hover, .btn-primary:focus {
        background: #31475b;
        color: #fff;
        outline: none;
    }

.btn-default {
    background: #e1e1e1;
    color: #3d3d3d;
}

    .btn-default:hover, .btn-default:focus {
        background: #d5d5d5;
        color: #3d3d3d;
        outline: none;
    }

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary.focus:active {
    background-color: #31475b;
    outline: none;
}

.btn-default:active:hover, .btn-default:active:focus, .btn-default.focus:active {
    background-color: #e1e1e1;
    outline: none;
}

label {
    color: #474747;
    font-size: 14px;
    font-family: 'OpenSansRegular';
    font-weight: normal;
}

.ordersummary table td, .ordersummary .table-responsive td, .ordersummary table th, .ordersummary .table-responsive th {
    padding: 5px !important;
}

.lead {
    font-size: 16px;
    font-family: 'OpenSansSemibold';
    font-weight: normal;
    color: #36ab92;
}

.calcblock {
    margin: 0;
    padding: 0;
}

.calctable td {
    width: 30px;
    height: 40px;
    border: 4px solid #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    color: #fff;
    font-family: 'OpenSansSemibold';
    font-weight: normal;
    background-color: #83cebe;
    cursor: pointer;
}

    .calctable td:hover {
        background-color: #36ab92;
    }

    .calctable td.mb {
        background-color: #525b63;
    }

        .calctable td.mb:hover {
            background-color: #31475b;
        }

    .calctable td a {
        display: block;
        color: #fff;
        text-decoration: none;
    }

.buttonscol .btn-default {
    margin: 10px 0px 0px 5px;
    padding: 0px 20px;
    height: 45px;
    width: 100%;
}

.table td p {
    margin-bottom: 5px;
}

.filterpanel {
    overflow: hidden;
    margin-bottom: 16px;
}

.btnrow {
    overflow: hidden;
}


.pgsize {
    float: left;
    margin: 0;
    padding: 0px 0px 0px 0px;
    display: inline-block;
    color: #707070;
    font-size: 14px;
}

    .pgsize span {
        font-size: 12px;
        padding: 0px 8px;
        vertical-align: 2px;
    }

    .pgsize select {
        border: 1px solid #dce0e2;
        color: #666666;
        font-size: 13px;
        height: 28px;
        padding: 4px;
        min-width: 50px;
    }


/************************Popup changes 5-July-2016 *****************************/
.buttonscol .btn-primary{width:100%; margin:10px 0px 0px 5px; padding:0px 20px;}
.buttonscol{ padding-right:12px; padding-left:5px;}
.buttonscol .btn-default{ height:34px; padding:0 10px;}
.toglinkpop{ display:none;}

/********new changes for top grid controls  5-July-2016********/
.rightcontrols{position:absolute; right:0; top:-7px;}
.customdiv{font-family: 'OpenSansRegular'; font-weight:normal; float:left; margin-right:5px;}
.customdiv label{ float:left; margin-right:8px; padding-top:8px; }
.customdiv .listgroup{ float:left; width:130px;}
/*new changes for top grid controls*/

.modal{ padding-left:0 !important;}


@media (min-width: 992px) {
   .col-md-5-m {
    width: 41.66666667%;
  }
  .col-md-4-m {
    width: 33.33333333%;
  }
  .col-md-3-m {
    width: 25%;
  }
 .col-md-5-m, .col-md-4-m, .col-md-3-m {
         position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float:left;
    }
}

/***** Place iPad view CSS under here (Smaller than 980px) *****/
@media (min-width: 980px) and (max-width:1200px) {
    
}
@media (min-width: 980px) and (max-width:1100px) {
.table th, .table td{ white-space:nowrap ;}
}
@media screen and (max-width: 992px) {
    .table th, .table td {
        white-space: nowrap;
    }

    #wrapper {
        margin-right: 0;
    }

    .sidebar { /* right:-300px; */
        width: 0;
        opacity: 0.1;
    }

    body {
        overflow-x: hidden;
    }

    #mainwrap {
        padding-bottom: 100px;
    }

    .content {
        padding: 15px;
    }

    #wrapper.active {
        margin-right: 0px;
        width: 100%;
    }

        #wrapper.active .sidebar {
            width: 300px;
            opacity: 1;
        }

    body {
        overflow-x: hidden;
    }

    .overlayer {
        display: none;
        background: #000;
        opacity: 0.4;
        filter: alpha(opacity=40);
        position: fixed;
        top: 50px;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

        .overlayer.ol {
            display: block;
        }


/************************ changes 5-7 July-2016 *****************************/
.toglinkpop{ display:block; text-align:center; padding:8px; position:absolute; top:0; left:0px; transition: all ease 0.4s; -moz-transition: all ease 0.4s; -webkit-transition: all ease 0.4s; color:#666; background-color:#f5f5f5; left:-35px;
-webkit-box-shadow: -2px 0px 3px 0px rgba(50, 50, 50, 0.30);
-moz-box-shadow:    -2px 0px 3px 0px rgba(50, 50, 50, 0.30);
box-shadow:         -2px 0px 3px 0px rgba(50, 50, 50, 0.30);
}
.toglinkpop:hover, .toglinkpop:focus{ text-decoration:none; color:#333;}
/* enable this if we need view for open menu button as icon toglinkpop */
/*.buttonscol{ position:absolute; right:0; background-color:#f5f5f5; width:250px; top:0; padding-bottom:10px; right:-250px;
-webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.48);
-moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.48);
box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.48);
}*/

.buttonscol.active{ right:0;}
.buttonscol{margin-top:12px;}
.buttonscol .btn-primary{width:100%; margin:10px 0px 0px 5px; padding:0px 20px; display:block;}
.buttonscol .btn-default{ width:100%;}
.noipadview{ display:none;}

.rightcontrols{position:static; margin:10px 0 0 0px; display:table; width:100%;}
.readonlyblock{ overflow:hidden; margin-bottom:15px;}
.readonlyblock .form-group{float:left; margin:0px 12px 12px 0px; width:30%;}


.margtopmob{ margin-top:25px;}

.col-md-5-m {
        width: 40.66666667%;
        float:left;
    }

    .col-md-4-m {
        width: 33.33333333%;
        float:left;
    }

    .col-md-3-m {
        width: 25%;
        float:left;
    }
    .col-md-5-m, .col-md-4-m, .col-md-3-m {
         position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float:left;
    }
   
}

@media only screen and (max-width: 767px) {
.nav-justified > li{ display:table-cell; width:1%;}


.buttonscol .btn-primary{ width:45%;}
.buttonscol .btn-default{ width:45%;}
.modal .table-responsive{ border:none;}

.pagination ul li a{margin:0px 0px 5px 5px;}
.invi{display:none;}

/************************ changes 5-7 July-2016 *****************************/
.rightcontrols .customdiv {float:none; margin-bottom:5px;}
.rightcontrols .customdiv .listgroup{ float:none; width:auto;}


.readonlyblock .form-group{ width:46%; margin-right:5px;}

.modal_subtitle{ white-space:nowrap;}


.col-md-5-m {
        width: 100%;
    }

    .col-md-4-m {
        width: 100%;
    }

    .col-md-3-m {
        width: 100%;
    }
   
   
    
.col-md-5-m, .col-md-4-m, .col-md-3-m{
  padding-right: 15px;
  padding-left: 15px;
}

.logininfo {
    padding-right:10px;
    color:white;
    font-size:2px;
    padding-bottom:50px;
}
}


@media only screen and (max-width:480px) {
    .pagination {
        float: left !important;
        margin-top: 8px;
    }
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

.success, .error, .warning, .information {
    padding: 9px 20px 9px 9px;
    font-size: 15px;
    overflow: hidden;
    margin-bottom: 10px;
    display: block;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    position: relative;
}

    .success span, .error span, .warning span, .information span {
        font-family: 'OpenSansSemibold';
        font-weight: normal;
    }

    .success p, .error p, .warning p, .information p {
        margin-bottom: 6px;
    }

.success {
    background: #e7fae6;
    border: 1px solid #ceeacd;
    color: #52964f;
}

.error {
    background: #fde8e4;
    border: 1px solid #ebd6d2;
    color: #9c413a;
}

.warning {
    background: #fdf7e4;
    border: 1px solid #ece2c4;
    color: #828400;
}

.information {
    background: #def4fa;
    border: 1px solid #c1ebf5;
    color: #106b84;
}

.ic-close {
    position: absolute;
    right: 5px;
    top: 5px;
    background: url(../images/ic-close.png) no-repeat center;
    padding-top: 10px;
    width: 12px;
    height: 12px;
}

.modal-body {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    overflow-x: hidden;
}
.paymentdetailtext {
    font-weight:bold;
    color:#31475B;
    word-break:break-all;
    white-space: pre-wrap;
}

.companylogo {
    padding: 20px 40px 0px 0px;
    float: right;
}

/*number-spinner related styles, added by Rakesh M- 17/08/2016*/
@media ( max-width: 585px ) {
    .input-group span.input-group-btn,.input-group input,.input-group button{
        display: block;
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
    .input-group {
        position: relative;   
    }
    .input-group span.data-up{
        position: absolute;
        top: 0;
    }
    .input-group span.data-dwn{
        position: absolute;
        bottom: 0;
    }
    .form-control.text-center {
        margin: 34px 0;
    }
    .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
        margin-left:0;
    }

}



.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.rowgallary li {
  /*width: 50%;*/
  float: left;
   text-align: center; 
   }

.rowgallary img {
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  padding: 2px 2px 2px 2px;
}

.changeDueText {
    font-weight: bold;
    color: #31475B;
    word-break: break-all;
    white-space: pre-wrap;
    font-size: 30px;
}
.borderClass
{
    border:1px solid black;
    text-align:center;
}
.logininfo {
    padding-right:10px;
    color:#e6e6e6;
    font-size:12px
}
.modal-sm {
    width:350px !important;
}

.control-label-small {
    padding-right: 0px !important;
    font-weight: normal;
    margin-bottom: 3px;
    color: #333;
    font-size: 11px;
}


     .linkbutton {
        background-color: #36404a;
        padding: 7px 14px 7px 8px;
        font-family: 'OpenSansSemibold';
        font-weight: normal;
        font-size: 13px;
        color: #fff;
        display: inline-block;
        margin: 0px 4px 0px 0px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
    }

        .linkbutton img {
            vertical-align: -2px;
            padding-right: 5px;
        }
.btn-ok{
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33333;
    padding: 10px 16px;
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}
.btn-large {
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
}

td.delete-control {
    background: rgba(0, 0, 0, 0) url("../images/delete-ic.png") no-repeat scroll center center;
    cursor: pointer;
}

.m-t-0 {
    margin-top: 0 !important;
}
.header-title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 16px;
    margin-bottom: 8px;
    text-transform: uppercase;
    padding-top: 16px;
}
h4 {
    line-height: 22px;
}
h1, h2, h3, h4, h5, h6 {
    color: #505458;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 10px 0;
}

div.dataTables_filter {
	text-align: right;
}

div.dataTables_filter label {
	font-weight: normal;
	white-space: nowrap;
	text-align: left;
}

div.dataTables_filter input {
	margin-left: 0.5em;
	display: inline-block;
}