﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="test.aspx.cs" Async="true" Inherits="GoodSide.APITest.test" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Button Text="AddProduct" OnClick="btnAddProduct_Click" ID="btnAddProduct" runat="server" />
    </div>
    </form>
</body>
</html>
