﻿@model  GoodSide.Web.Models.Account.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="panel-heading">
    <h3 class="text-center"> Sign In to <img src="~/Content/images/ordorite_small_logo.png" alt="Ordorite" /> </h3>
</div>


<div class="panel-body">

    @if (!string.IsNullOrWhiteSpace(Convert.ToString(TempData["ErrorMessage"])))
    {
        <div class="alert alert-danger">
            @Convert.ToString(TempData["ErrorMessage"])
        </div>
    }
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal m-t-20", role = "form" }))
    { @*<form class="form-horizontal m-t-20" action="">*@   <div class="form-group ">
        <div class="col-xs-12">
            @Html.DropDownListFor(m => m.CompanyID, (SelectList)ViewBag.lstCompanies, "--Choose Your Company--", new { @class = "form-control", @id = "ddlCompanies" })
        </div>
    </div>

        <div class="form-group">
            <div class="col-xs-12">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off" })
                @*<input class="form-control" type="password" required="" placeholder="Password">*@
            </div>
        </div>

        <div class="form-group ">
            <div class="col-xs-12">
                <div class="checkbox checkbox-primary">
                    <input id="checkbox-signup" type="checkbox">
                    <label for="checkbox-signup">
                        Remember me
                    </label>
                </div>

            </div>
        </div>

        <div class="form-group text-center m-t-40">
            <div class="col-xs-12">
                <button class="btn btn-success btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
            </div>
        </div>
        <div class="form-group text-right">
            <div class="col-xs-12">
                <span >Version @ViewBag.Version Published on @ViewBag.PublishedDate</span>
            </div>
        </div>
        @*<div class="form-group m-t-30 m-b-0">
                <div class="col-sm-12">
                    <a href="page-recoverpw.html" class="text-dark"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                </div>
            </div>*@
        <div class="form-group m-t-30 m-b-0">
            <div class="col-sm-12">
                @if (TempData["ErrorMessage"] != null)
                {
                    <p class="errorMessage">@TempData["ErrorMessage"]</p>
                }
            </div>
        </div>
    }
    @section Scripts {

        @Scripts.Render("~/bundles/jquery")


    }
</div>
