﻿@model List<GoodSide.Web.Models.POS.ReportItem>
@using (Ajax.BeginForm("SelectReport", "POS", new AjaxOptions { OnBegin = "AjaxRequestStart();", OnComplete = "AjaxRequestFinish();", HttpMethod = "Post", OnSuccess = "SelectReportCompleted" }, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                @*<label class="control-label">Select Report</label>
                    <span>@Html.DropDownListFor(model => model.Report, ((List<string>)ViewBag.Reports).Select(m => new SelectListItem { Text = m, Value = m}), new { @id = "ddlReport", @class = "form-control" })</span>*@
                <div class="table-responsive">
                    <table id="tblProductDisplay" class="table table-hover table-bordered">
                        <thead>
                            <tr>                               
                                @*@Html.CheckBoxFor(m => m.isOrderChecked, new { @id = "isOrderChecked" })*@
                                <th><input id="ckSelectAll" style="text-align:center !important " type="checkbox" class="checkbox" /></th>
                                <th>Report</th>
                                @*<th hidden="hidden">Reportname</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>

                                    <td class="center-block">
                                        @Html.CheckBoxFor(x => @Model[i].Selected, new { @name = @Model[i].Name })
                                        @Html.HiddenFor(x => @Model[i].Name)

                                    <td>@Model[i].Displayname</td>

                                </tr>
                            }
                            

                            @*@foreach (var item in Model)
                            {
                                <tr>

                                    <td class="center-block">
                                        @Html.EditorFor(item.Name)
                                       <td>@item.Displayname</td>

                                </tr>
                            }*@
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                <button class="btn btn-success" type="submit">Open Report</button>
                <button class="btn btn-default" data-dismiss="modal" onclick="closeopendialog()" aria-hidden="true" type="button"> Cancel</button>
            </div>
        </div>
    </div>

}
<script>

    $(document).ready(function () {
        //alert('test');
        //$(".bootstrap-dialog-close-button", $(this).parent()).hide();
        //$(".close").css('display', 'none')
        //$("#reportoptiondialog").dialog({
        //    closeOnEscape: false,
        //    open: function (event, ui) {
        //        //$(".close").css('display', 'none')
        //        $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
        //    }
        //});
        $('#reportoptiondialog').find('.close').remove();

    });

    function SelectReportCompleted(result) {
      
        if (result.success) {
            if (result.reportnames != '') {
                //BootstrapDialog.alert(result.message, function () {
                $.each(BootstrapDialog.dialogs, function (id, dialog) {
                    if (id === "reportoptiondialog") {
                        dialog.close();
                    }
                });
                // });
                DisplayReport(result.reportnames);
            }
            else
            {
               BootstrapDialog.alert("Please select At least one report");
            }
        }
        else {
            var Message = "Error in Open Report" + result.reportnames;
            BootstrapDialog.alert(Message);
        }
    }
    function closeopendialog() {

        $.each(BootstrapDialog.dialogs, function (id, dialog) {
            if (id === "reportoptiondialog") {
                dialog.close();
            }
            if (id === "dialogOrderSummary") {
                dialog.close();
            }
            if (id === "dialogPaymentInfo") {
                dialog.close();

                var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/_ChangeSalesPerson"))";
                POSJS.dialogCustomerInstance = POSJS.LoadDialogueBox(partialViewUrl, 'dialogChangeSalesPerson', 'Change SalesPerson');

                var urlAction = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))Customer/CreateNewOrder"
                var result = POSJS.CreateNewOrder(urlAction);

                @*window.location.reload(true);
                window.location.href = '@Url.Action("Index", "POS")';*@
            }
        });

    }
</script>

