﻿@model GoodSide.Web.Models.POS.OtheInfoViewModel

@using (Html.BeginForm("_OtherInfoUpdate", "POS", FormMethod.Post, new { id = "frmOtherInfoUpdate" }))
{
    @*<div class="row">
        <div class="col-sm-3">
            <label class="control-label">Currency</label>
        </div>
        <div class="col-sm-4">
            @Html.DropDownListFor(m => m.defaultcurrency, Model.CurrencyList, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.defaultcurrency)
        </div>
    </div>*@
    <div class="row">
        <div class="col-sm-3">
            <label class="control-label">Sales Person</label>
        </div>
        <div class="col-sm-4">
            @Html.DropDownListFor(m => m.salespersonid, Model.SalesPersonList, "-- Select Sales Person --", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.salespersonid)
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" type="button"> Cancel</button>
                <button class="btn btn-success" type="submit">Update</button>
            </div>
        </div>

    </div>

}

<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script>
    $(function () {
        $('#frmOtherInfoUpdate').submit(function (e) {          
            if ($('#frmOtherInfoUpdate').validate().valid()) {
                var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/_OtherInfoUpdate"))";
                $.ajax({
                    url: partialViewUrl,
                    type: "POST",
                    data: $(this).serialize(),
                    success: function (data) {
                        $.each(BootstrapDialog.dialogs, function (id, dialog) {
                            if (id === "dialogUpdateOtherInfo") {
                                dialog.close();
                            }
                            var actionURL = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/_OtherInfo"))";
                            POSJS.UpdateOtherInfo(actionURL, 'dvOtherInfo');

                            var SourceType = data.requestedsourcetype; 
                            if (SourceType == 'payment') {

                                var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/PaymentInfo"))";
                                var paymentinfodialog = POSJS.LoadDialogueBox(partialViewUrl, 'dialogPaymentInfo', 'POS', null);
                            }
                            else if (SourceType == 'quote')
                            {
                                var urlActionSave = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))Customer/SaveOrderAsQuote"

                                    var resultData = POSJS.SaveOrderAsQuote(urlActionSave);

                                if (resultData.success == true) {
                    
                                    var reporturl = $("#hdnReportBIRTURL").val().replace("{orderid}", resultData.orderId);
                                    window.open(reporturl, '_blank', "height=1000,width=800");

                                    BootstrapDialog.alert(resultData.message, function () {
                                        $.each(BootstrapDialog.dialogs, function (id, dialog) {
                                            if (id === "dialogPaymentInfo") {
                                                dialog.close();
                                            }
                                        });
                                        CreateNewOrder();
                                    });

                                    //alert("Quote Saved Successfully");
                                    //CreateNewOrder();
                                }
                                else {
                                    alert(resultData.message);
                                }
                            }

                        });
                    }
                });
            }
            e.preventDefault();
        });
      
    });
</script>