﻿@model GoodSide.Web.Models.POS.OtheInfoViewModel


<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <td class="control-label">Currency</td>
            <td>@Model.currencysymbol @Model.currencyname</td>
        </tr>

        <tr>
            <td class="control-label">Sales Person
            <td>@Model.salesperson</td>
        </tr>       
</div>
    </table>
</div>


<div class="btnrow">
    <a href="#" class="linkbtn" onclick="UpdateOtherInfo()"><img src="~/POSContent/images/ic-edit.png" alt="" />Modify</a>
</div>

<script>

    function UpdateOtherInfo() {
        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/_OtherInfoUpdate"))";
        POSJS.dialogCustomerInstance = POSJS.LoadDialogueBox(partialViewUrl, 'dialogUpdateOtherInfo', 'Update Other Information');
    }

</script>