﻿@model GoodSide.Web.Models.POS.OrderDetail
<div>
    <div style="float:left"><h4>Product Information</h4></div>
    <div style="float:right;margin-top:5px;margin-right:10px;">
        <a href="#" class="linkbutton" onclick="SelectProduct()"><img src="~/POSContent/images/ic-edit.png" alt="" />Modify</a>
     </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <td class="">Product Id</td>
            <td class="">@Model.pid</td>
        </tr>
        <tr>
            <td class="">Product Name</td>
            <td class="">@Model.productname</td>
        </tr>
        <tr>
            <td class="">Description</td>
            <td class="">@Model.productdesc</td>
        </tr>
        <tr>
            <td class="">Reference</td>
            <td class="">@Model.colors</td>
        </tr>
        <tr>
            <td class="">Selling Price</td>
            <td class="">@Model.currency_symbol  @Model.slprice</td>
        </tr>
        <tr>
            <td class="">Tax</td>
            <td class="">@Math.Round(Model.vatamount, 2)</td>
        </tr>
        @*<tr>
                <td class="">Fullfillmant Attached</td>
                <td class=""></td>
            </tr>*@

        <tr>
            <td class="">SubCharge</td>
            <td class=""></td>
        </tr>
        <tr>
            <td class="">Quantity</td>
        </tr>
        <tr>
            <td class="">Image</td>
            <td class=""></td>
        </tr>
        <tr>
            <td class="">Reserved Stock</td>
            <td class="">0</td>
        </tr>
        <tr>
            <td class="">Discount By System</td>
            <td class="">@Model.discgiven</td>
        </tr>
    </table>
</div>

@*<div class="btnrow">
    <a href="#" class="linkbtn" onclick="SelectProduct()"><img src="~/POSContent/images/ic-edit.png" alt="" />Modify</a>
</div>*@

<script>


    @*function SelectProduct() {
        var arr = ["@Model.pid", "@Model.productname", "@Model.slprice", "", "@Model.stype"];
        var str = arr.join(";");
        var obj = { "str": str, fromSeachProduct: false };
        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/AvailableQuantity"))";
        POSJS.dialogCustomerInstance = POSJS.LoadDialogueBox(partialViewUrl, 'dialogUpdateOrder', 'Item Details', objdata);
    }*@
    function SelectProduct()
    {
        var productId = '@Model.pid';
        var uId = '@Model.uniqueid';
        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/_EditProductInfo"))";

            $.ajax({
                "url": partialViewUrl,
                //dataType: 'html',
                data: { pid: productId, uniqueId: uId },
                cache: false,
                async: false,
                type: "GET",
                success: function (resultData) {
                    //result = resultData;
                    //var dataResult = JSON.stringify({ items: JSON.stringify(resultData) });
                    var pid = resultData.pid;
                    var productname = resultData.productname;
                    var slprice = resultData.slsprice;
                    var stype = resultData.stype;
                    var uniqueId = resultData.uniqueId;
                    var description = resultData.description;
                    var sale_type = resultData.sale_type;
                    var cust_leadtime = resultData.cust_leadtime;
                    var discount = resultData.discount;
                    var discountComment = resultData.discountComment;

                    var arr = [pid, productname, slprice, "", stype, uniqueId, description, sale_type, cust_leadtime, discount, discountComment];
                    var str = arr.join(";");
                    var obj = { "str": str, fromSeachProduct: false };
                    var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/AvailableQuantity"))";
                        POSJS.dialogCustomerInstance = POSJS.LoadDialogueBox(partialViewUrl, 'dialogUpdateOrder', 'Item Details', obj);


                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
    }

</script>