﻿@model GoodSide.Web.Models.StockDetail.StockDetailSimilarProductsModel
@using GoodSide.Web.Helpers
<div class="rowgallary">
    <div id="small-img" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
        @*<ul>
                <li>
                    <img src="~/POSContent/images/150x100-1.png" class="img-responsive inline-block" alt="Responsive image" />
                    <label class="control-label">Persian rug</label>
                </li>
                <li>
                    <img src="~/POSContent/images/150x100-2.png" class="img-responsive inline-block" alt="Responsive image" />
                    <label class="control-label">Swirl mirror</label>
                </li>
                <li>
                    <img src="~/POSContent/images/150x100-3.png" class="img-responsive inline-block" alt="Responsive image" />
                    <label class="control-label">Golden lamp</label>
                </li>
                <li>
                    <img src="~/POSContent/images/150x100-4.png" class="img-responsive inline-block" alt="Responsive image" />
                    <label class="control-label">Christmas candle</label>
                </li>
            </ul>*@
        <ul>
            @foreach (var objAvailInfo in Model.lststockImages)
            {
                <li style="width:50%;height:160px">
                    @if (string.IsNullOrEmpty(objAvailInfo.image_filepath))
                    {
                        @*<a href="@Html.ImageOrDefault(objAvailInfo.image_filepath)" data-toggle="lightbox" id=@objAvailInfo.productid data-gallery="example-gallery">*@
                        @*<img width="100" height="100" src="@objAvailInfo.image_filepath" class="img-responsive inline-block img-fluid" alt="Responsive image" />*@
                        <img style="width:140px;height:100px;" onclick="AddtoOrder(@objAvailInfo.productid)" src="~/@Html.ImageOrDefault(objAvailInfo.image_filepath)" />
                        @*</a>*@
                        <label class="control-label">@objAvailInfo.product_name</label>
                    }
                    else
                    {
                        @*<a href="@Html.ImageOrDefault(objAvailInfo.image_filepath)" data-toggle="lightbox" id=@objAvailInfo.productid data-gallery="example-gallery">
                            @*<img width="100" height="100" src="@objAvailInfo.image_filepath" class="img-responsive inline-block img-fluid" alt="Responsive image" />*@
                        <img style="width:140px;height:100px;" onclick="AddtoOrder(@objAvailInfo.productid)" src="@Html.ImageOrDefault(objAvailInfo.image_filepath)" />
                        @*</a>*@
                        <label class="control-label">@objAvailInfo.product_name</label>
                    }

                    @*<div>
                            <a href="#" class="linkbtn">Add To Order</a>
                        </div>*@
                </li>
            }
        </ul>
    </div>
</div>
<script type="text/javascript">
    function AddtoOrder(ProductId) {

        if (@ViewBag.Ordstatus == 6)
        {
            BootstrapDialog.alert("Cannot Add New Items to Confirmed Order");
            return false;
        }
        var ProductId = ProductId;
        BootstrapDialog.confirm({
            btnCancelLabel: 'Cancel', // <-- Default value is 'Cancel',
            btnOKLabel: 'Add Product', // <-- Default value is 'OK',
            message: 'Are you sure you want Add Product ? ',
            btnOKClass: 'btn-ok',
            btnCancelClass: 'btn-ok',// <-- If you didn't specify it, dialog type will be used,
            callback: function (result) {
                // result will be true if button was click, while it will be false if users close the dialog directly.
                if (result) {
                    if (ProductId != "") {
                        var result = "";
                        var url = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))POS/GetProductData";
                            $.ajax({
                                "url": url,
                                //dataType: 'html',
                                data: { productId: ProductId },
                                cache: false,
                                async: false,
                                type: "POST",
                                success: function (resultData) {
                                    if (resultData.IsSuccess) {
                                        var productInfo = resultData.productinfo;                      
                                        var obj = { "str": productInfo, fromSeachProduct: false };
                                        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/AvailableQuantity"))";
                                            POSJS.dialogCustomerInstance = POSJS.LoadDialogueBox(partialViewUrl, 'dialogUpdateOrder', 'Item Details', obj);
                                    }
                                    else {
                                        BootstrapDialog.alert("Error in Adding Product");
                                    }
                                },
                                error: function (xhr, status, error) {
                                    console.log(xhr.responseText);
                                }
                            });
                        return result;

                    }
                } else {

                }
            }
        });
    }
</script>