﻿@using Newtonsoft.Json;
@model GoodSide.Web.Models.POS.AvailableQuantityModel
@{
    var isFromProductSearch = Convert.ToBoolean(ViewBag.FromSeachProduct);
}

@using (Html.BeginForm("AddProductsToSession", "POS", FormMethod.Post, new { @id = "frmaddproductstosession" }))
{
    @Html.HiddenFor(model => model.uniqueid)
    @Html.HiddenFor(model => model.stype)
    @Html.HiddenFor(model => model.unallocatedS)
    if (isFromProductSearch)
    {
        <div class="col-lg-12">
            <div class="row">
                <div class="form-group pull-right ">
                    <button class="btn btn-primary" type="button" onclick="BackToList()"><i class='fa fa-search'></i>Back To List</button>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6" id="divProductinfo">
                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Product Name</label>
                    </div>
                    <div class="col-sm-7">
                        <span>@Model.ProductName</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Selling Price</label>
                    </div>
                    @*@if (Model.stype != 1)
                        {
                            <div class="col-sm-6">
                                <span>@Model.SellingPrice</span>
                            </div>
                        }
                        else
                        {*@
                    <div class="col-sm-7">
                        <span>@Html.TextBoxFor(model => model.SellingPrice, new { @class = "form-control numericbox", @maxlength = "10", autocomplete = "off" })</span>
                    </div>
                    @*}*@
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Discount</label>
                    </div>
                    @*@if (Model.stype != 1)
                        {
                            <div class="col-sm-6">
                                <span>@Model.SellingPrice</span>
                            </div>
                        }
                        else
                        {*@
                    <div class="col-sm-7">
                        <span>@Html.TextBoxFor(model => model.discount, new { @id = "txtdiscount", @class = "form-control numericbox", @maxlength = "10", autocomplete = "off", @readonly = "readonly" })</span>
                    </div>
                    @*}*@
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Discount Comment</label>
                    </div>
                    <div class="col-sm-7">
                        <span>@Html.TextAreaFor(model => model.Discount_Comment, new { @id = "txtdiscountcomment", @class = "form-control", @maxlength = "1000", autocomplete = "off" })</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Delivery Type</label>
                    </div>
                    <div class="col-sm-7">
                        <span>@Html.DropDownListFor(model => model.DeliveryTypeID, (SelectList)ViewBag.DeliveryTypes, new { @class = "form-control" })</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Delivery Date</label>
                    </div>
                    <div class="col-sm-7">
                        @*<span>@Html.TextBoxFor(model => model.deliverydate, new { @class = "deliverydate form-control", type = "date" })</span>*@
                        <span>@Html.TextBoxFor(model => model.deliverydate, new { @class = "datefield form-control", type = "text", autocomplete = "off" })</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" id="divOrderTypeinfo">
                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Delivery/Collection Point</label>
                    </div>
                    <div class="col-sm-7">
                        <span> @Html.DropDownListFor(m => m.DestinationPoint, (SelectList)ViewBag.DestinationPointList, "---Select Location---", new { @class = "form-control" })</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Sale Type</label>
                    </div>
                    <div class="col-sm-7">
                        <span>@Html.DropDownListFor(model => model.sale_type, (SelectList)ViewBag.SaleType, new { @id = "ddlStype", @class = "form-control" })</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Reference</label>
                    </div>
                    <div class="col-sm-7">
                        <span>@Html.TextBoxFor(model => model.Reference, new { @class = "form-control", @maxlength = "50", autocomplete = "off" })</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Product Description</label>
                    </div>
                    <div class="col-sm-7">
                        <span>@Html.TextAreaFor(model => model.ProductDescription, new { @id = "itemdescription", @class = "form-control", @maxlength = "1000", autocomplete = "off" })</span>
                    </div>
                </div>
                <div class="row" id="leadtime">
                    <div class="col-sm-5">
                        <label class="control-label">Customer Leadtime</label>
                    </div>
                    <div class="col-sm-7">
                        <span>@Html.TextBoxFor(model => model.CustomerLeadtime, new { @class = "form-control", @maxlength = "50", autocomplete = "off" })</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
            <div class="col-sm-3">
                <label>Is Delivery</label>
            </div>
            <div class="col-sm-9">
                <label>
                    @Html.CheckBoxFor(model => model.IsDelivery, new { @class = "checkbox" })
                </label>
            </div>
        </div>*@

    <div class="row">
        <div class="col-sm-12" id="divAvailableqty">
            <div class="form-group pull-right ">
                <button class="btn btn-primary" onclick="AddProductsToSession()" type="button" id="btnAdd"><i class='fa fa-search'></i>ADD</button>
            </div>
            <div class="table-responsive">
                <table id="tblPopupAvailableQuantity" class="table  table-striped">
                    <thead>
                        <tr>
                            @*<th></th>*@
                            <th>QTY</th>
                            <th hidden="hidden">ID</th>
                            <th>NAME</th>
                            <th>CONTAINER</th>
                            <th>ARRIVAL Date</th>
                            <th>Available</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Items.Count; i++)
                        {
                            string textboxId = "txt" + i;
                            string classname = "fmtabcell" + Model.Items[i].cssType;
                            string avaibaleQuantityId = "hdnAvailableQuantity" + i;

                            <tr>
                                <td style="text-align:center" class='@classname'>
                                    <div class="row align-left">
                                        <div class="col-xs-1 col-xs-offset-1">
                                            <div class="input-group number-spinner">
                                                <span class="input-group-btn data-dwn">
                                                    <button type="button" class="btn btn-default btn-info" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                                                </span>
                                                @Html.TextBoxFor(m => m.Items[i].qty, new { @class = "form-control text-center", @maxlength = "3", @id = textboxId, @min = "0", @max = "1000", @style = "width:80px;", @type = "text" })
                                                <span class="input-group-btn data-up">
                                                    <button type="button" class="btn btn-default btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                @*<td><button id="btn_@item.id" data-id="@item.id" class="btn btn-success btn-sm ">ADD</button></td>*@
                                @*<td>@Html.TextBoxFor(m => m.Items[i].qty, new { @class = "form-control numericbox", @maxlength = "3", @id = textboxId, @style = "width:60px;" })</td>*@
                                <td hidden="hidden">@Model.Items[i].id</td>
                                <td class='@classname'>@Model.Items[i].name</td>
                                <td class='@classname'>@Model.Items[i].reference</td>
                                <td class='@classname'>@Model.Items[i].edate</td>
                                <td class='@classname'>@Model.Items[i].totalQty</td>

                            </tr>
                        }
                        <tr></tr>
                    </tbody>

                    @*<tbody id="popupProductSearchBody"></tbody>*@
                </table>
            </div>
        </div>
    </div>
}



<script>
    $(document).ready(function(){
        var e = document.getElementById("ddlStype");
        var saleType = e.options[e.selectedIndex].value;
        if(saleType == 0)
            $('#leadtime').hide();
        var status = @ViewBag.orderstatus;

        if(status == 6)
        {
            $("#divProductinfo :input").attr("disabled", true);
            $("#divAvailableqty :input").attr("disabled", true);
            document.getElementById('btnAdd').disabled = 0;
            //$('#btnAdd').attr("enable",true);
        }


    });

    $(function() {
        var action;
        $(".number-spinner button").click(function () {
            btn = $(this);
            input = btn.closest('.number-spinner').find('input');
            btn.closest('.number-spinner').find('button').prop("disabled", false);

            if (btn.attr('data-dir') == 'up') {

                //action = setInterval(function(){
                if ( input.attr('max') == undefined || parseInt(input.val()) < parseInt(input.attr('max')) ) {
                    input.val(parseInt(input.val())+1);
                }else{
                    btn.prop("disabled", true);
                    clearInterval(action);
                }
                // }, 70);

            } else {
                //action = setInterval(function(){
                if ( input.attr('min') == undefined || parseInt(input.val()) > parseInt(input.attr('min')) ) {
                    input.val(parseInt(input.val())-1);
                }else{
                    btn.prop("disabled", true);
                    clearInterval(action);
                }
                //}, 70);
            }
        });
    });

    $('.datefield').datepicker({
        dateFormat: 'dd/mm/yy'
    });

    $("#deliverydate").blur(function(){
        val = $(this).val();
        val1 = Date.parse(val);
        if (isNaN(val1)==true && val!==''){
            $("#deliverydate").val('');
        }
        else{
            console.log(val1);
        }
    });


    @*$(function () {
        $('form').submit(function (e) {
            var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/AddProductsToSession"))";
            $.ajax({
                url: partialViewUrl,
                type: "POST",
                data: $(this).serialize(),
                //contentType: "application/json; charset=utf-8",
                success: function (data) {
                    // $("#popupProductSearchBody").html(data);
                }
            });
            return false;
        });
    });*@


    $(".numericbox").keydown(function (e) {
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
           (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
           (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });

    $(function() {
        $('select#ddlStype').change(function() {
            var saletype = $(this).val();
            var Productid = @Model.pid;
            //var Param = "'" + Stype + "'" + ',' + "'" + Productid + "'";
            var Param = saletype + ',' + Productid ;
            var partialViewUrl = "@string.Format("{0}://{1}{2}?param=", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/GetSaletypeInfo"))";
            partialViewUrl += Param
            $.ajax({
                url: partialViewUrl,
                type: "POST",
                //data: {
                //    sType: Stype ,productid: Productid
                //},
                contentType: "application/json; charset=utf-8",
                success: function (resultData) {
                    if (resultData.success == true) {
                        //document.getElementById('description').text = resultData.description;


                        if (@Model.sale_type == 0){
                            $('#itemdescription').val(resultData.description);
                            if(saletype == 0)
                                $('#leadtime').hide();
                            else
                                $('#leadtime').show();
                        }
                        else
                            if(saletype == 0)
                            {
                                $('#itemdescription').val(resultData.description);
                                $('#leadtime').hide();
                            }
                            else
                            {
                                $('#itemdescription').val('@Model.ProductDescription');
                                $('#leadtime').show();
                            }
                    }
                    else
                    {

                    }
                }

            });


        })
    });

    function AddProductsToSession() {
        var e = document.getElementById("ddlStype");
        var saleType =  e.options[e.selectedIndex].value;

        try {
            var counter = 0;
            var isValidQuantity = true;
            var obj = @Html.Raw(JsonConvert.SerializeObject(Model));
            var Enterqty = 0;
            $.each(obj.Items, function (i, v) {
                var id = this.id.toString();
                var availableQuantity = this.totalQty;
                var qty = parseInt($("#txt" + counter).val());
                Enterqty = Enterqty + qty;

                if(saleType == 1 && qty > 0)
                {
                    if (id.toLowerCase().indexOf("-1") < 0 )
                    {
                        BootstrapDialog.alert('This sale includes items from inbound or arrived containers. Only Purchase Order Requests (PORs) can be SPECIAL orders.');
                        return isValidQuantity = false;
                    }
                }

                counter++;
            });
        }
        catch (e) {
            alert(e);
        }

        @ViewBag.orderstatus

        if (Enterqty <= 0 && @ViewBag.orderstatus == 6) {
            BootstrapDialog.alert("Cannot Add new Item on Confirmed SalesOrder!");
            return isValidQuantity = false;
        }

        if (Enterqty <= 0) {
            BootstrapDialog.alert("Please enter qty for order!");
            return isValidQuantity = false;
        }

        if ( parseInt($("#txtdiscount").val()) > 0)
        {
            if(!($("#txtdiscountcomment").val()))
            {
                BootstrapDialog.alert("Please enter discount reason!");
                return isValidQuantity = false;
            }
        }


        try {
            obj.ProductDescription = $("#itemdescription").val();
            obj.Reference = $("#Reference").val();
            obj.SellingPrice = $("#SellingPrice").val();
            obj.Reference = $("#Reference").val();
            obj.DeliveryTypeID = $("#DeliveryTypeID").val();
            var destipoint = $("#DestinationPoint").val();
            obj.sale_type = $("#ddlStype").val();
            if ($("#DestinationPoint").val())
                obj.DestinationPoint = $("#DestinationPoint").val();
            else
                obj.DestinationPoint = 0;
            obj.deliverydate = $("#deliverydate").val();
            obj.CustomerLeadtime = $("#CustomerLeadtime").val();
            obj.Discount_Comment = $("#txtdiscountcomment").val();
        }
        catch (e) {
            alert(e);
        }

        counter = 0;


        $.each(obj.Items, function (i, v) {
            var id = this.id;
            var name = this.name;
            var availableQuantity = this.totalQty;
            var qty = parseInt($("#txt" + counter).val());
            this.qty = qty;
            if (id.indexOf("-1") == -1) {
                if(qty>0)
                {
                    if (availableQuantity < qty && name != "OVERSELL") {
                        BootstrapDialog.alert("Qunatity must be less than or equal to available quantity!");
                        return isValidQuantity = false;
                    }
                }
            }
            counter++;
        });

        if (isValidQuantity == false)
        {
            return isValidQuantity;
        }

        var dataResult = JSON.stringify({ items: JSON.stringify(obj), addaction:"@isFromProductSearch" });
        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/AddProductsToSession"))";
        $.ajax({
            url: partialViewUrl,
            type: "POST",
            data: dataResult,
            contentType: "application/json; charset=utf-8",
            success: function (resultData) {

                $("#dvProductSearchFilter").show();
                $("#popupProductSearchBody").show();
                $("#dvavailablequantity").html('');

                //var dataResult2 = JSON.stringify({ items: JSON.stringify(resultData) });
                var partialViewUrl2 = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/productdisplay"))";
                $.ajax({
                    url: partialViewUrl2,
                    //data: dataResult2,
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $("#productSearchBody").html(data);

                        //reload/refresh product content scroll
                        try
                        {
                            var height = $(window).height();
                            heightfinal = (height - 350);
                            $('#productlistscroll').slimScroll({
                                height: heightfinal + 'px',
                            });
                        } catch (e) {
                            console.log(e);
                        }

                        if ("@isFromProductSearch".toLowerCase() == "false") {
                            var actionURL = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/_ProductInfo"))";
                            POSJS.SelectProduct("@Model.pid", actionURL, 'dvProductInfo',"@Model.uniqueid");
                        }
                        //$.each(BootstrapDialog.dialogs, function (id, dialog) {
                        //    if (id === "dialogProductSearch" || id === "dialogUpdateOrder") {
                        //        dialog.close();
                        //    }
                        //});
                    }
                });
            }
        });
    }
</script>
