﻿@model GoodSide.Web.Models.POS.DiscountModel


@using (Html.BeginForm("ApplyDiscount", "Customer", FormMethod.Post, new { id = "frnDiscount" }))
{
    @Html.HiddenFor(x => x.SelectedPrductIds)
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                @Html.RadioButtonFor(model => model.DiscountTypeID, "1", new { Checked = "checked", id = "discountfixedamount" })
                <label for="discountfixedamount">Fixed Amount</label>
                @Html.RadioButtonFor(model => model.DiscountTypeID, "2", new { id = "discountpercentage" })
                <label for="discountpercentage">In Percentage</label>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Discount</label>
                <span>@Html.TextBoxFor(model => model.Discount, new { @class = "form-control numericbox", @maxlength = "10", autocomplete = "off" })</span>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Comments</label>
                <span> @Html.TextBoxFor(model => model.Discount_Comment, new { @class = "form-control text-left", maxlength = "255", autocomplete = "off" })</span>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
            </div>
        </div>
    </div>

    <div class="row" id="divApplydiscount">
        <div class="col-sm-12">
            <div class="pull-right">
                <button class="btn btn-success" type="submit">Apply Discount</button>
                <button class="btn btn-default" type="reset" id="btnClearDiscount">Clear</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" type="button"> Cancel</button>
            </div>
        </div>

    </div>

}
<script>
    $(document).ready(function(){
        var status = @ViewBag.OrdStatus;

        if(status == 6)
        {
            $("#divApplydiscount :input").attr("disabled", true);
        }
    });

    $(function () {
        $(".numericbox").keydown(function (e) {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
               (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
               (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        $('#frnDiscount').submit(function (e) {
            var form = $(this);
            if (form.validate().form()) {
                $.post('@Url.Action("ApplyDiscount", "Customer")',
                    form.serialize(),
                    function (data) {
                        if (data.success) {
                            $.each(BootstrapDialog.dialogs, function (id, dialog) {
                                if (id === "dialogDiscount") {
                                    dialog.close();
                                }
                            });
                            loadOrderMainGrid();
                        }
                        else {
                            if (data.message != null)
                                BootstrapDialog.alert(data.message);
                        }
                    }
                );
            }
            e.preventDefault();
        });

        $('#btnClearDiscount').on('click', function () {
            $("#Discount").val(0);
            $("#frnDiscount").submit();
        });

    });




</script>
