﻿@using System.Configuration;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_POSLayout.cshtml";
}
<div class="overlayer"></div>
<div class="sidebar">
    <!-- sidebar start -->
    <div id="myscrl">
        <div class="sidebar_content">
            <h3 class="sidebar_title"><img src="~/POSContent/images/ic-sale.png" alt="" />Sales</h3>
            <div class="tabnavs">
                <ul class="nav-justified">
                    <li><a id="customertab" href="#tab1" class="customer active" data-toggle="tab">&nbsp;</a></li>
                    <li><a id="producttab" href="#tab2" class="product" data-toggle="tab">&nbsp;</a></li>
                    <li><a id="ordertab" href="#tab3" class="sqr" data-toggle="tab">&nbsp;</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="tab1" class="tab-pane fade in active">
                    <h4>Customer Information</h4>
                    <div class="sidetable" id="divCustomerInfo">
                        <br />@{Html.RenderAction("CustomerAddToOrder", "Customer");}
                    </div>
                    <div class="btnrow">
                        <a href="#" class="linkbtn" onclick="CustomerAddEditForm('0')"><img src="~/POSContent/images/ic-add.png" alt="" />New</a>

                        <a href="#" class="linkbtn" onclick="CustomerEditForm()"><img src="~/POSContent/images/ic-edit.png" alt="" />Edit</a>

                        <a href="#" class="linkbtn"><img src="~/POSContent/images/ic-view.png" alt="" />View</a>

                    </div>
                </div>
                <div id="tab2" class="tab-pane fade">
                    <div id="dvProductInfo"></div>
                </div>
                <div id="tab3" class="tab-pane fade">
                    <h4>Related Products</h4>
                    <div id="dvOtherInfo">
                        @*<br />@{Html.RenderAction("_OtherInfo", "POS");}*@
                        <div id="relatedproducts">
                            <div id="dvrelatedproducts"></div>
                            @*@{Html.RenderAction("_SimilarProductInfo", "POS");}*@
                            @*<a href="https://unsplash.it/1200/768.jpg?image=250" data-toggle="lightbox" data-title="A random title" data-footer="A custom footer text">
                                    <img src="https://unsplash.it/600.jpg?image=250" class="img-fluid">
                                </a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- sidebar end -->

<div class="page-content-wrapper">
    <div class="content">
        <!-- Content Area Start -->
        <h2>
            Sales Order
            <div class="rightcontrols">
                <div class="customdiv">
                    <label class="control-label">Scan Barcode:</label>
                    <div class="listgroup">
                        @Html.TextBox("BarCodeScan", "", new { @class = "form-control", @placeholder = "BarCode Scan", @id = "txtBarCode", @style = "margin:0px !important", autocomplete = "off" })
                    </div>
                </div>
                <button type="button" id="btnBarcode" class="btn btn-primary">Scan</button>
                <input type="image" id="btnSearch" src="~/Content/images/search.png" class="btn btn-primary" />
                @*<button type="button" id="btnSearch" class="btn btn-primary">Product Search</button>*@


            </div>
        </h2>
        <div id="productSearchBody">
            @Html.Action("ProductDisplay")
        </div>
    </div><!-- Content Area End -->

</div>
<!-- footer start -->
<footer class="keypads">
    <div id="keyfooter">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <td class="keys" onclick="CreateNewOrder()">ALT + F1 </td>
                    <td class="keys" onclick="OpenRecentSale()">ALT + F2 </td>
                    <td class="keys" onclick="OpenCustomerSearch()">F1</td>
                    <td class="keys" onclick="OpenStoreSite()">F2</td>
                    <td class="keys" onclick="itemedit()">F3</td>
                    <td class="keys" onclick="getstockdetail()">F4</td>
                    <td class="keys" onclick="OpenDiscountPopup()">F6</td>
                    <td class="keys" onclick="deleterecord()">F7</td>
                    <td class="keys" onclick="SaveOrderAsQuote()"> F8 </td>
                    <td colspan="2" class="keys" onclick="OpenPaymentInfo()">F9</td>
                    <td class="keys" onclick="RefreshOrder()">F10</td>
                    <td class="keys" onclick="FullScreen()">F11</td>
                </tr>
                <tr>
                    <td style="cursor:pointer" onclick="CreateNewOrder()">New Sale</td>
                    <td style="cursor:pointer" onclick="OpenRecentSale()">Recent Sale</td>
                    <td style="cursor:pointer" onclick="OpenCustomerSearch()">Customer Search</td>
                    <td style="cursor:pointer" onclick="OpenStoreSite()">Store Site</td>
                    <td style="cursor:pointer" onclick="itemedit()">Item Edit</td>
                    <td style="cursor:pointer" onclick="getstockdetail()">Stock Details</td>
                    <td style="cursor:pointer" onclick="OpenDiscountPopup()">Apply Discount</td>
                    <td style="cursor:pointer" onclick="deleterecord()">Void Item</td>
                    <td style="cursor:pointer" onclick="SaveOrderAsQuote()">Exit as Quote</td>
                    <td colspan="2" style="background-color:#0094ff; width:400px;!important;cursor:pointer" onclick="OpenPaymentInfo()">Save/Pay</td>
                    <td style="cursor:pointer" onclick="RefreshOrder()">Refresh</td>
                    <td style="cursor:pointer" onclick="FullScreen()">FullScreen</td>
                </tr>
            </table>
        </div>
    </div>
</footer>


@section Scripts {



    @Scripts.Render("~/bundles/dataTablesJS")

    <script src="@Url.Content("~/Scripts/Custom/Common.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/POS.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.hotkeys.js")"></script>

    <script type="text/javascript">


        $(function () {

         $(document).bind('keydown', 'Alt+f1', function detectkey() {
                if ($('.modal.in').length == 0)
                    CreateNewOrder();
                return false;
         });

         $(document).bind('keydown', 'Alt+f2', function detectkey() {
             if ($('.modal.in').length == 0)
                 OpenRecentSale();
             return false;
         });

        $(document).bind('keydown', 'f1', function detectkey() {
            if ($('.modal.in').length == 0)
                OpenCustomerSearch();
            return false;
        });

        $(document).bind('keydown', 'f2', function detectkey() {
            OpenStoreSite();
            return false;
        });

        $(document).bind('keydown', 'f3', function detectkey() {
            if ($('.modal.in').length == 0)
                itemedit();
            return false;
        });

        $(document).bind('keydown', 'f4', function detectkey() {
            if ($('.modal.in').length == 0)
                getstockdetail();
            return false;
        });

        $(document).bind('keydown', 'f6', function detectkey() {
            if ($('.modal.in').length == 0)
                OpenDiscountPopup();
            return false;
        });

        $(document).bind('keydown', 'f7', function detectkey() {
            if ($('.modal.in').length == 0)
                deleterecord();
            return false;
        });


        $(document).bind('keydown', 'f8', function detectkey() {
            if ($('.modal.in').length == 0)
                SaveOrderAsQuote();
            return false;
        });


        $(document).bind('keydown', 'f9', function detectkey() {
            if ($('.modal.in').length == 0)
                OpenPaymentInfo();
            return false;
        });
        $('#txtBarCode').keyup(function (e) {
            if (e.keyCode == 13) {
                SearchByBarCode();
            }
        });

        // Add event listener for opening and closing details
        $('#btnSearch').on('click', function () {
            OpenProductSearchPopup();
        });
        $('#btnBarcode').on('click', function () {
            SearchByBarCode();
        });
        function SearchByBarCode() {
            var barcodeVal = $("#txtBarCode").val().trim();
            if (barcodeVal != "") {
                var result = "";
                var url = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))POS/chkQuicksaleforlocation";

                $.ajax({
                    "url": url,
                    //dataType: 'html',
                    data: { barcode: $("#txtBarCode").val() },
                    cache: false,
                    async: false,
                    type: "POST",
                    success: function (resultData) {
                        if (resultData.IsSuccess) {
                            var ChoosefromLoc = resultData.ChooseFromloc;
                            var productInfo = resultData.productinfo;
                            //if we get return as "0" then consider as item not found.
                            if (productInfo == "0") {
                                BootstrapDialog.alert("Stock Item not found for this barcode! Please check the value entered!");
                                $("#txtBarCode").val("");
                                $("#txtBarCode").focus();
                            }
                            else {

                                if (ChoosefromLoc == 1) {
                                    $("#txtBarCode").val("");
                                    var obj = { "str": productInfo, fromSeachProduct: false };
                                    var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/AvailableQuantity"))";
                                    POSJS.dialogCustomerInstance = POSJS.LoadDialogueBox(partialViewUrl, 'dialogUpdateOrder', 'Item Details', obj);
                                }
                                else {
                                    result = "";
                                    var url = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))POS/SearchProduct";
                                    $.ajax({
                                        "url": url,
                                        //dataType: 'html',
                                        data: { barcode: $("#txtBarCode").val() },
                                        cache: false,
                                        async: false,
                                        type: "GET",
                                        success: function (resultData) {
                                            //result = resultData;
                                            //var dataResult = JSON.stringify({ items: JSON.stringify(resultData) });
                                            loadOrderMainGrid();
                                            $("#txtBarCode").val("");
                                            $("#txtBarCode").focus();

                                        },
                                        error: function (xhr, status, error) {
                                            $("#txtBarCode").val("");
                                            $("#txtBarCode").focus();
                                            console.log(xhr.responseText);
                                        }
                                    });
                                }
                            }
                        }
                        else {
                            BootstrapDialog.alert(resultData.Message);
                            $("#txtBarCode").val("");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
                return result;

            }
        }
    });

    function loadOrderMainGrid() {
        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/productdisplay"))";
        $.ajax({
            url: partialViewUrl,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#productSearchBody").html(data);

                //reload/refresh product content scroll
                try {
                    var height = $(window).height();
                    heightfinal = (height - 350);
                    $('#productlistscroll').slimScroll({
                        height: heightfinal + 'px',
                    });
                } catch (e) {
                    console.log(e);
                }
            }
        })
    }

    function OpenProductSearchPopup() {
        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/ProductSearch"))";
        BootstrapDialog.show({
            id: 'dialogProductSearch',
            size: BootstrapDialog.SIZE_WIDE,
            title: 'Item Search',
            type: BootstrapDialog.TYPE_SUCCESS,
            closeByBackdrop: false,
            closeByKeyboard: false,
            draggable: true,
            message: $('<div id="modelWindow"></div>').load(partialViewUrl)
        });
    }

    function OpenDiscountPopup() {

        if (@ViewBag.Ordstatus == 6)
        {
            BootstrapDialog.alert("Cannot Change Discount on Confirmed Order");
            return false;
        }
        var selectedProducts = [];
        var selectedCheckBoxCount = $('.chkProducts:checkbox:checked').length;
        if (selectedCheckBoxCount > 0) {

            var selectedProducts = [];
            var checkboxes = $('.chkProducts:checkbox:checked');
            $.each(checkboxes, function () {
                var id = $(this).attr("data-id");
                selectedProducts.push(id);
            });
            var str = selectedProducts.join(',');
            var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/Discount"))" + "?selectedProductIds=" + str;
            BootstrapDialog.show({
                id: 'dialogDiscount',
                size: BootstrapDialog.SIZE_SMALL,
                title: 'Discount',
                type: BootstrapDialog.TYPE_SUCCESS,
                closeByBackdrop: false,
                closeByKeyboard: false,
                draggable: true,
                message: $('<div id="modelWindow"></div>').load(partialViewUrl)
            });
        }
        else {
            BootstrapDialog.alert("Please select atleast one product.");
        }
    }


    function OpenCustomerSearch() {
        if (@ViewBag.Ordstatus == 6)
        {
            BootstrapDialog.alert("Cannot Add or Change Customer on Confirmed Order");
            return false;
        }
        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/customer/CustomerSearch"))";
        POSJS.dialogCustomerInstance = POSJS.LoadDialogueBox(partialViewUrl, 'dialogCustomerSearch', 'Customer Search', null);
    }


    function getstockdetail() {
        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/StockDetail/_StockDetails"))";
        POSJS.dialogCustomerInstance = POSJS.LoadDialogueBox(partialViewUrl, 'dialogStockdetail', 'Stock Details', null);
    }

    function CustomerAddEditForm(custId) {
        if (@ViewBag.Ordstatus == 6)
        {
            BootstrapDialog.alert("Cannot Add or Change Customer on Confirmed Order");
            return false;
        }
        var data = { customerId: custId }
        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/customer/CustomerAddEdit"))";
        POSJS.dialogCustomerInstance = POSJS.LoadDialogueBox(partialViewUrl, 'dialogCustomerAddEdit', 'Customer Add/Edit', data);
    }

    function CustomerEditForm() {
        if (@ViewBag.Ordstatus == 6)
        {
            BootstrapDialog.alert("Cannot Add or Change Customer on Confirmed Order");
            return false;
        }
        var custId = $("#hdnSelectedCustomerId").val();
        if (custId != '')
            CustomerAddEditForm(custId);
        else {
            BootstrapDialog.alert('Please select customer');
        }
    }

    function Viewcustmororders(custId, ordStatus) {
        var data = { customerId: custId, OrderStatus: ordStatus }
        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/customer/_CustomerOrderSummary"))";
        POSJS.dialogCustomerInstance = POSJS.LoadDialogueBox(partialViewUrl, 'dialogCustomerOrder', 'Customer Order', data);
    }

        function ViewAllcustmororders(ordStatus) {
            //var data = {OrderStatus: ordStatus }
            var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/customer/_AllCustomerOrderSummary"))";
                POSJS.dialogCustomerInstance = POSJS.LoadDialogueBox(partialViewUrl, 'dialogCustomerOrder', 'Customer Order');
        }

     function Vieworder(custId,ordStatus) {
            var custId = $("#hdnSelectedCustomerId").val();
           
        if (custId != '')
            Viewcustmororders(custId, 0);
        else {
            BootstrapDialog.alert('Please select customer');
        }
    }

        function OpenRecentSale() {
        
            ViewAllcustmororders();
        
    }

    function deleterecord() {
        if (@ViewBag.Ordstatus == 6)
        {
            BootstrapDialog.alert("Cannot delete records from Confirmed Order");
            return false;
        }
        var selectedProducts = [];
        var selectedCheckBoxCount = $('.chkProducts:checkbox:checked').length;
        if (selectedCheckBoxCount > 0) {

            var selectedProducts = [];
            var checkboxes = $('.chkProducts:checkbox:checked');
            $.each(checkboxes, function () {
                var productid = $(this).attr("data-id");
                var uniqueid = $(this).attr("data-uid");
                var orderitemid = $(this).attr("data-itemid");               
                if(orderitemid > 0)
                    selectedProducts.push(orderitemid);
                else
                    selectedProducts.push(uniqueid + "|" + productid);
            });
            var str = selectedProducts.join(',');
            if (str != "") {
                var result = "";
                var url = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))POS/DeleteItem";
                $.ajax({
                    "url": url,
                    //dataType: 'html',
                    data: { selectedProductIds: str },
                    cache: false,
                    async: false,
                    type: "POST",
                    success: function (resultData) {
                        //result = resultData;
                        //var dataResult = JSON.stringify({ items: JSON.stringify(resultData) });
                        loadOrderMainGrid();
                        clearProductInfo();

                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
                return result;
            }
        }
    }
    function clearProductInfo() {
        dvProductInfo.innerHTML = null;
    }
    function itemedit() {
        if (@ViewBag.Ordstatus == 6)
        {
            BootstrapDialog.alert("Cannot Edit items on Confirmed Order");
            return false;
        }

        var selectedProducts = [];
        var selectedCheckBoxCount = $('.chkProducts:checkbox:checked').length;
        if (selectedCheckBoxCount > 0) {

            if (selectedCheckBoxCount == 1) {
                var selectedProducts = [];
                var checkboxes = $('.chkProducts:checkbox:checked');
                var productId;
                var uId;
                $.each(checkboxes, function () {
                    productId = $(this).attr("data-id");
                    uId = $(this).attr("data-uid");
                });
                var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/_EditProductInfo"))";

                $.ajax({
                    "url": partialViewUrl,
                    //dataType: 'html',
                    data: { pid: productId, uniqueId: uId },
                    cache: false,
                    async: false,
                    type: "GET",
                    success: function (resultData) {
                        //result = resultData;
                        //var dataResult = JSON.stringify({ items: JSON.stringify(resultData) });
                        var pid = resultData.pid;
                        var productname = resultData.productname;
                        var slprice = resultData.slsprice;
                        var stype = resultData.stype;
                        var uniqueId = resultData.uniqueId;
                        var description = resultData.description;
                        var sale_type = resultData.sale_type;
                        var cust_leadtime = resultData.cust_leadtime;
                        var discount = resultData.discount;
                        var discountComment = resultData.discountComment;
                        var arr = [pid, productname, slprice, "", stype, uniqueId, description, sale_type, cust_leadtime , discount,discountComment];
                        var str = arr.join(";");                       
                        var obj = { "str": str, fromSeachProduct: false };
                        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/AvailableQuantity"))";
                        POSJS.dialogCustomerInstance = POSJS.LoadDialogueBox(partialViewUrl, 'dialogUpdateOrder', 'Item Details', obj);


                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            }
            else {
                BootstrapDialog.alert("Please select only one product for Edit.");
            }
        }
        else {
            BootstrapDialog.alert("Please select atleast one product.");
        }

    }

    $(function () {

        $(".numericbox").keydown(function (e) {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
               (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
               (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    });


    $(document).keyup(function (e) {
        if (e.keyCode == 27) { // escape key maps to keycode `27`
            if ($('.modal.in').length == 0)
                ExitApplication();
        }
    });

    function ExitApplication() {
        var urlAction = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))POS/OrderAvailableCheck"

        var result = POSJS.OrderAvailableCheck(urlAction);

        if (result == true) {

            if (confirm("Do you want to save order as Quote?")) {
                SaveOrderAsQuote();
                return false;
            }
            else {
                if (confirm("Do you want to create new order ?")) {
                    CreateNewOrder();
                }
                else {
                    var Url = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))Account/LogOff";
                    window.location.href = Url;
                }
            }
        }
        @*else {
                if (confirm("Are you sure want to exit ?")) {
                    var Url = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))Account/LogOff";
                    window.location.href = Url;
                }
            }*@
    }
    function SaveOrderAsQuote() {


        if (@ViewBag.Ordstatus == 6)
        {
            BootstrapDialog.alert("Order already confirmed cannot save as Quotes");
            return false;
        }

        var urlAction = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))Customer/OrderAvailableCheck"
        var result = POSJS.OrderAvailableCheck(urlAction);


        if (result == true) {

            var urlAction = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))Customer/SalesPersonCheck"
            var Saleperson = POSJS.SalesPersonCheck(urlAction);

            if (Saleperson == 0) {
                var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/_OtherInfoUpdate?requestedsourcetype=quote"))";
                POSJS.dialogCustomerInstance = POSJS.LoadDialogueBox(partialViewUrl, 'dialogUpdateOtherInfo', 'Update Other Information');
                return false;
            }

            var urlActionSave = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))Customer/SaveOrderAsQuote"

            var resultData = POSJS.SaveOrderAsQuote(urlActionSave);

            if (resultData.success == true) {



                var reporturl = $("#hdnReportBIRTURL").val().replace("{orderid}", resultData.orderId).replace("reportname", "salesacknowledgementQPOSreprintreport");
                window.open(reporturl, '_blank', "height=1000,width=800");

                BootstrapDialog.alert(resultData.message, function () {
                    //CreateNewOrder();

                    @*var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/_ChangeSalesPerson"))";
                    var reportoptiondialog = POSJS.LoadDialogueBoxSmall(partialViewUrl, 'dialogChangeSalesPerson', 'Change SalesPerson', null);*@

                    @*var IsAutoSignUpEnable = @System.Web.Configuration.WebConfigurationManager.AppSettings["IsAutoSignUpEnable"].ToString();*@                   

                    if(resultData.IsSalesPersonChange != 0)
                    {
                        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/_ChangeSalesPerson"))";
                        var reportoptiondialog = POSJS.LoadDialogueBoxSmall(partialViewUrl, 'dialogChangeSalesPerson', 'Change SalesPerson', null);

                        var urlAction = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))Customer/CreateNewOrder"
                        var result = POSJS.CreateNewOrder(urlAction);
                    }
                    else
                    {
                        var urlAction = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))Customer/CreateNewOrder"
                        var result = POSJS.CreateNewOrder(urlAction);

                        window.location.href = '@Url.Action("Index", "POS")';
                        window.location.reload(true);
                    }


                });

                //alert("Quote Saved Successfully");
                //CreateNewOrder();
            }
            else {
                BootstrapDialog.alert(resultData.message);
            }
        }
        else {
            BootstrapDialog.alert("Product is not available in order, please add product first");
        }

    }
    function OpenPaymentInfo() {
        var urlAction = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))Customer/OrderAvailableCheck"
        var result = POSJS.OrderAvailableCheck(urlAction);

        if (result == false) {
            BootstrapDialog.alert("Product is not available in order, please add product first");
            return false;
        }

        if ($("#lblcustomername")[0].innerHTML.toLowerCase().trim().indexOf("cash sale") >= 0) {

            BootstrapDialog.confirm({
                btnCancelLabel: 'Cancel', // <-- Default value is 'Cancel',
                btnOKLabel: 'Using Cashsale', // <-- Default value is 'OK',
                message: 'Are you sure you want to use cash sale ? ',
                btnOKClass: 'btn-ok',
                btnCancelClass: 'btn-ok',// <-- If you didn't specify it, dialog type will be used,
                callback: function (result) {
                    // result will be true if button was click, while it will be false if users close the dialog directly.
                    if (result) {
                        var IsEmail = false;
                        ExecutePaymentinfo();
                    } else {

                    }
                }
            });
        }
        else {
            var IsEmail = true;
            ExecutePaymentinfo(IsEmail);
        }
    }

    function ExecutePaymentinfo() {
        var checkcashsale = true;
        //First check selected customer has "Cash Sale"
        var urlAction = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))Customer/SalesPersonCheck"
        var Saleperson = POSJS.SalesPersonCheck(urlAction);

        if (Saleperson == 0) {
            var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/_OtherInfoUpdate?requestedsourcetype=payment"))";
            POSJS.dialogCustomerInstance = POSJS.LoadDialogueBox(partialViewUrl, 'dialogUpdateOtherInfo', 'Update Other Information');
            return false;
        }

        var urlAction = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))Customer/CustomerActiveCheck"
        var CustomerActive = 0;
        $.ajax({
            url: urlAction,
            type: "GET",
            async: false,
            datatype: "json",
            success: function (data) {
                result = data.IsSuccess;  
                CustomerActive = data.CustomerActive;
            },
            error: function (xhr, status, error) {
                result = false;
            },
            complete: function () {

            }
        });
        if (CustomerActive == 0) {
            BootstrapDialog.alert("Cannot Place order with InActive Customer");     
            return false;
        }
        else
        {
            var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/PaymentInfo"))";
            var paymentinfodialog = POSJS.LoadDialogueBox(partialViewUrl, 'dialogPaymentInfo', 'POS', null);
        }

    }

    function CreateNewOrder() {
        var urlAction = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))Customer/CreateNewOrder"
        var result = POSJS.CreateNewOrder(urlAction);
        window.location.reload(true);
    }

    function RefreshOrder() {
        window.location.reload(true);
    }

    function FullScreen() {
        if ((document.fullScreenElement && document.fullScreenElement !== null) ||
         (!document.mozFullScreen && !document.webkitIsFullScreen)) {
            if (document.documentElement.requestFullScreen) {
                document.documentElement.requestFullScreen();
            } else if (document.documentElement.mozRequestFullScreen) {
                document.documentElement.mozRequestFullScreen();
            } else if (document.documentElement.webkitRequestFullScreen) {
                document.documentElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
            }
        } else {
            if (document.cancelFullScreen) {
                document.cancelFullScreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitCancelFullScreen) {
                document.webkitCancelFullScreen();
            }
        }
    }

    //Set Focus on Barcode Textbox
    $(document).ready(function () {
        $("#txtBarCode").focus();
    });

    function OpenStoreSite() {
        var storeSiteURL = '@ConfigurationManager.AppSettings["ordoriteURL"].ToString()';
        window.open(storeSiteURL, "_blank");
    }

    $(document).on('click', '[data-toggle="lightbox"]', function (event) {

        event.preventDefault();
        $(this).ekkoLightbox();
    });

</script>
}