﻿<style type="text/css">
    td.details-control {
        background: url(@Url.Content("~/Content/ubold/images/details_open.png")) no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
     background: url(@Url.Content("~/Content/ubold/images/details_close.png")) no-repeat center center;
    }

</style>
<div class=" table-responsive">
    <table id="tblPopupProductSearch" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>SKU</th>
                <th>pname</th>
                <th>Description</th>
                <th>Supplier</th>
                <th>Sell Price</th>
                <th>T</th>
                <th>A</th>
                <th>UA</th>
            </tr>
        </thead>
        @*<tbody id="popupProductSearchBody"></tbody>*@
    </table>
</div>

<script type="text/javascript">
    var table;
    var htmlResult;
    var oTable;

    var params = {
        pname: $("#pname").val(),
        description: $("#description").val(),
        pno: $("#pno").val(),
        barcode_no: $("#barcode_no").val(),
        supplierid: $("#supplierid").val(),
        typeid: $("#typeid").val(),
        categoryid: $("#categoryid").val(),
        stockTypeid: $("#stockTypeid").val(),
    }

    $(function () {


        $('#tblPopupProductSearch').dataTable().fnDestroy();
        oProductSearchTable = $('#tblPopupProductSearch').dataTable({
            "processing": true,
            "serverSide": true,
            "info": true,
            "bFilter": false,
            "stateSave": true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "ajax": {
                "url": "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))POS/GetProductSearchData",
                "type": "GET",
                "data": function (d) {
                    d.pname = $("#pname").val();
                    d.description = $("#description").val();
                    d.pno = $("#pno").val();
                    d.barcode_no = $("#barcode_no").val();
                    d.supplierid = $("#supplierid").val();
                    d.typeid = $("#typeid").val();
                    d.categoryid = $("#categoryid").val(),
                    d.stockTypeid = $("#stockTypeid").val();

                    // d.custom = $('#myInput').val();
                    // etc
                }
            },
            "columns": [
                 {
                     "class": "details-control",
                     "orderable": false,
                     "data": null,
                     "defaultContent": ""
                 },
                {
                    "data": "id", "orderable": false, "render": function (data, type, full, meta) {
                        var productname = full.pname
                        var arr = [full.id, full.pname, full.price, full.unallocatedS, full.stype,"0",full.description,"0"," "];
                        var str = arr.join(";");
                        var query_str = str.replace(/"/g, '\\\"');
                        return "<button onclick='SelectProduct(\"" + query_str + "\")' class='btn btn-sm'>Select</button>";
                    }
                },

                { "data": "pno", "orderable": true },
                { "data": "pname", "orderable": true },
                { "data": "description", "orderable": false },
                { "data": "supplier", "orderable": true },
                { "data": "price", "orderable": true },
                 { "data": "totaS", "orderable": true },
            { "data": "allocatedS", "orderable": true },
             { "data": "unallocatedS", "orderable": false }

            ],

            "order": [[1, "asc"]]
        });

        oProductSearchTable.fnSort([[1, 'asc']]);

        table = oProductSearchTable.DataTable();
    });


    // Add event listener for opening and closing details
    $('#tblPopupProductSearch').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row(tr);

        if (row.child.isShown()) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        } else {
            // Open this row
            var url = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))StockDetail/StockManagement/StockDetailedInfo";

            var htmlResult = format(row.data());
            row.child(htmlResult).show();
            tr.addClass('shown');
        }
    });
    function format(d) {

        var result = "";
        var url = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))StockDetail/StockDetailedImageInfo";
        $.ajax({
            "url": url,
            dataType: 'html',
            data: { stockId: d.id },
            cache: false,
            async: false,
            type: "GET",
            success: function (resultData) {
                result = resultData;
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
            }
        });
        return result;
    }
</script>