﻿@model GoodSide.Web.Models.POS.ProductSearchViewModel

<div class="form-hrizontal">
    <div id="dvProductSearchFilter">
        <div class="row">
            <div class="filterpanel">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Product Name</label>
                        @Html.TextBoxFor(m => m.pname, new { @class = "form-control", maxlength = "50" , autocomplete = "off" })
                    </div>
                    <div class="form-group">
                        <label>Barcode No</label>
                        @Html.TextBoxFor(m => m.barcode_no, new { @class = "form-control", maxlength = "50" , autocomplete = "off" })
                    </div>
                    <div class="form-group">
                        <label>Product Category</label>
                        @Html.DropDownListFor(m => m.categoryid, Model.Categories, "---Select Product Category---", new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Description</label>
                        @Html.TextBoxFor(m => m.description, new { @class = "form-control", maxlength = "500" , autocomplete = "off" })
                    </div>

                    <div class="form-group">
                        <label>Supplier</label>
                        @Html.DropDownListFor(m => m.supplierid, Model.Suppliers, "---Select Supplier---", new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>Product Type</label>
                        @Html.DropDownListFor(m => m.typeid, new List<SelectListItem>(), "---Select Product Type---", new { @class = "form-control" })
                    </div>

                </div>


                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Part No</label>
                        @Html.TextBoxFor(m => m.pno, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
                    </div>
                    <div class="form-group">
                        
                        <label>Stock Type</label>
                        @Html.DropDownListFor(m => m.stockTypeid, Model.StockTypes, "---Select Stock Type---", new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="exampleInputEmail1" class="invi">&nbsp;</label>
                    <div class="clearfix"></div>
                    <button class="btn btn-primary" onclick="SearchProductsPopup()" type="submit"><i class='fa fa-search'></i> Search</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" type="button"><i class='fa fa-ban'></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>
        <div id="grid">
            <div class="table-responsive">
                <div id="popupProductSearchBody">

                </div>
            </div>
        </div>

    <div id="dvavailablequantity">
    </div>
</div>



<script type="text/javascript">

    $(document).ready(function () {
        $('#categoryid').change(function () {
            var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/GetProductTypeList"))";

            $.ajax({
                type: "post",
                url: partialViewUrl,
                data: { categoryid: $('#categoryid').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var district = "<select id='typeid'>";
                    district = district + '<option value="">--Select--</option>';
                    for (var i = 0; i < data.length; i++) {
                        district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    district = district + '</select>';
                    $('#typeid').html(district);
                }
            });
        });
    });

    $("#dvProductSearchFilter").keyup(function (event) {
        if (event.keyCode == 13) {
            SearchProductsPopup();
        }
    });

    function SearchProductsPopup() {
        
        $("#dvProductSearchFilter").show();
        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/ProductDisplayPopup"))";
        $.ajax({
            url: partialViewUrl,
            type: "POST",
            dataType: "html",
            contentType: "application/json; charset=utf-8",
            success: function(data) {
                $("#popupProductSearchBody").html(data);
                //reload/refresh product content scroll 
                try {
                    var height = $(window).height();
                    heightfinal = (height - 350);
                    $('#productlistscroll').slimScroll({
                        height: heightfinal + 'px',
                    });
                } catch (e) {
                    console.log(e);
                }
            }
        });

    }

    function BackToList() {
        $("#dvProductSearchFilter").show();
        $("#popupProductSearchBody").show();
        $("#dvavailablequantity").html('');
    }

</script>

<script type="text/javascript">

    function SelectProduct(data) {
       
        var obj = { "str": data };
        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/AvailableQuantity"))";
        $.ajax({
            url: partialViewUrl,
            data: JSON.stringify(obj),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#dvProductSearchFilter").hide();
                $("#popupProductSearchBody").hide();
                $("#dvavailablequantity").html(data);
            }
        })
    }


</script>
