﻿@model GoodSide.Web.Models.POS.ProductDetailSummaryModel

<script src="@Url.Content("~/Scripts/custom/pos.js")"></script>
<div id="divallProductinfo">
    <div id="grid">
        <div id="productlistscroll">
            <!-- Grid start -->
            <div class="table-responsive">
                <table id="tblProductDisplay" class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th><input id="ckSelectAll" style="text-align:center !important " type="checkbox" class="checkbox" /></th>
                            <th>SKU</th>
                            <th>Product Name</th>
                            <th>Desc</th>
                            <th>QTY</th>
                            <th>RATE</th>
                            <th>Discount</th>
                            <th align="center"><input type="image" id="pramotionapplied" src="~/Content/images/promotionsapplied.png" /></th>
                            <th>Net Amount</th>
                            <th>Net Amount Base</th>
                            <th>Delivery Type</th>
                            <th>Delivery Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.orderdetailList)
                        {
                            <tr>
                                <td class="center-block"><input style="text-align:center !important " type="checkbox" class="checkbox chkProducts" data-id="@item.pid" data-uid="@item.uniqueid" data-itemid="@item.OrderDetailId" /></td>
                                <td>@item.SKU</td>
                                <td>@item.productname</td>
                                <td>@item.productdesc</td>
                                <td>@item.qty</td>
                                <td>@Model.orderMaster.currency_symbol  @item.slprice_base</td>
                                <td>@Model.orderMaster.currency_symbol @item.discgiven_base</td>
                                <td>
                                    @if (item.promotion > 0)
                                    {<span><input type="image" id="pramotionapplied" src="~/Content/images/promotionsapplied.png" /></span>}
                                </td>
                                <td>@Model.orderMaster.currency_symbol @((item.slprice_base * item.qty) - item.discgiven_base)</td>
                                <td>@Math.Round(item.netprice, 2)</td>
                                <td>
                                    @if (item.deliverytype == 0)
                                    {<span>COLLECTION</span>}
                                    else
                                    {
                                        if (item.deliverytype == 1)
                                        {<span>DELIVERY</span>}
                                        else
                                        {
                                            <span>TAKEAWAY</span>
                                        }
                                    }
                                </td>
                                <td>@item.deliverydate</td>
                                <td></td>
                            </tr>
                        }

                        @if (Model.orderdetailList.Count() == 0)
                        {
                            <tr>
                                <td colspan="12">List of products searched by barcode above</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    <div class="summary">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <td class="tlbl">Date</td>
                    <td class="tlbl">OrderID</td>
                    <td class="tlbl">Items / Quantity</td>
                    <td class="tlbl">SubTotal</td>
                    <td class="tlbl">Discount</td>
                    <td class="tlbl">Tax</td>
                    <td class="tlbl">Total</td>
                    <td class="tlbl">Paid</td>
                </tr>
                <tr>
                    <td id="writeDay"></td>
                    <td>@Model.orderMaster.temporderid</td>
                    <td>@Model.orderdetailList.Count / @Model.orderdetailList.Sum(x => x.qty)</td>
                    <td>@Model.orderMaster.currency_symbol @(Model.orderdetailList.Sum(x => x.netprice) + Model.orderdetailList.Sum(x => x.discgiven))</td>
                    <td>@Model.orderMaster.currency_symbol @Model.orderdetailList.Sum(x => x.discgiven)</td>
                    <td>@Model.orderMaster.currency_symbol @Math.Round(Model.orderdetailList.Sum(x => x.vatamount), 2)</td>
                    <td>@Model.orderMaster.currency_symbol @Math.Round(Model.orderdetailList.Sum(x => x.netprice), 2)</td>
                    <td>@Model.orderMaster.currency_symbol @Math.Round(Model.orderMaster.totalpaid, 2)</td>
                </tr>
            </table>
            <input type="hidden" id="hdnReportBIRTURL" name="paymentaction" value="@Model.BIRTReportURL" />
        </div>
    </div>
</div>
<script>
    var monthNames = [
  "January", "February", "March",
  "April", "May", "June", "July",
  "August", "September", "October",
  "November", "December"
    ];

    var date = new Date();
    var day = date.getDate();
    var monthIndex = date.getMonth();
    var year = date.getFullYear();
    document.getElementById("writeDay").innerHTML = day + ' ' + monthNames[monthIndex] + ' ' + year;

    $(function () {
        var table = $('#tblProductDisplay').dataTable({
            "bFilter": false,
            "bPaginate": false,
            "columnDefs": [{
                "defaultContent": "-",
                "targets": "_all"
            }]
        });

        $("#ckSelectAll").click(function () {
            if ($(this).is(':checked')) {
                $('.chkProducts').prop('checked', true);
            }
            else {
                $('.chkProducts').prop('checked', false);
            }
        });

        $('#tblProductDisplay tbody').on('click', 'tr', function () {

            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $("#producttab").click();
                var pid = $(this).children('td:first').find(".chkProducts").attr("data-id");
                var uniqueId = $(this).children('td:first').find(".chkProducts").attr("data-uid");
                var actionURL = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/_ProductInfo"))";
                POSJS.SelectProduct(pid, actionURL, 'dvProductInfo', uniqueId);

                var actionURL = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/_SimilarProductInfo"))";
                POSJS.SelectProduct(pid, actionURL, 'dvrelatedproducts');
            }
        });

    })

</script>


