﻿@model GoodSide.Web.Models.Home.HeaderInfoModel

<a href="#" id="menu-toggle" class="toglink"><img src="~/POSContent/images/ic-menu.png" alt=""></a>
<div class="logo">
    <a href="#" title=""><img src="~/POSContent/images/brandinterior-small.png" alt=""></a>
</div>
<div class="companylogo">
    <span class="logininfo">
        @String.Format("{0} logged into {1}", Model.UserName, Model.StoreName)
        @Html.ActionLink("LogOut", "LogOut", "Customer")
</span>
    <a href="#" title=""><img src="~/POSContent/images/horizon-small.png" alt=""></a>
</div>
