﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>POS</title>

    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/POSLayoutCSS")
    @*@Styles.Render("~/Content/DataTableCSS")*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/JqueryUI")
    @Scripts.Render("~/bundles/JqueryValidation")
    @Scripts.Render("~/bundles/BootstrapJS")
    @Scripts.Render("~/bundles/dataTablesJS")
    @*@Scripts.Render("~/bundles/CommonJS")*@


</head>

<body>
    <div id="ProgressBar" style="display: none;">
        <div class="Progressdiv">
        </div>
        <div style="top: 45%; left: 49%; position: fixed; z-index: 1000001;">
            <img src="@Url.Content("~/Content/images/load_bg.gif")" />
        </div>
    </div>
    <div id="mainwrap">
        <!-- wrapper start -->
        <div id="wrapper">
            <!-- header start -->
            <div id="keyheader">
                <header id="header">
                    @*<a href="#" id="menu-toggle" class="toglink"><img src="~/POSContent/images/ic-menu.png" alt=""></a>
                <div class="logo"><a href="#" title=""><img src="~/POSContent/images/brandinterior-small.png" alt=""></a></div>
                <div class="companylogo"><a href="#" title=""><img src="~/POSContent/images/horizon-small.png" alt=""></a></div>*@
                    @{Html.RenderAction("HeaderInfo", "Customer");}
                </header>
            </div>
                @RenderBody()
           
        </div>
    </div>
    <!-- wrapper end -->
    <script type="text/javascript">
        $('.toggle-sidebar').on('click', function () {

            var body = $('body');
            $(body).toggleClass('collapsed-sidebar');
            return false;
        });

        $(".nav-justified").on("click", "a", function (e) {
            $(".nav-justified").find("a").removeClass('active')
            $(this).addClass('active').tab('show');

        })

        $("#menu-toggle").click(function (e) {
           
            e.preventDefault();
            $("#wrapper").toggleClass("active");
            $(".overlayer").toggleClass("ol");
            $('body').toggleClass("noscroll");
            aler('test');
            
        });
        $(".overlayer").click(function (e) {
            $("#menu-toggle").click();
        });
    </script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">

        $('.toggle-sidebar').on('click', function () {
            var body = $('body');
            $(body).toggleClass('collapsed-sidebar');
            return false;
        });

        $(".nav-justified").on("click", "a", function (e) {
            $(".nav-justified").find("a").removeClass('active')
            $(this).addClass('active').tab('show');

        })

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("active");
            $(".overlayer").toggleClass("ol");
            $('body').toggleClass("noscroll");

        });
        $(".overlayer").click(function (e) {
            $("#menu-toggle").click();
        });

        $('#myscrl').slimScroll({
            height: '100%',
        });

        try
        {
            var height = $(window).height();
            heightfinal = (height - 350);
            $('#productlistscroll').slimScroll({
                height: heightfinal + 'px',
            });
        } catch (e) {
            console.log(e);
        }

    </script>
</body>
</html>
