﻿@model  GoodSide.Web.Models.StockDetail.StockDetailViewModel
<div class="table-responsive" id="childTableContainer">

    <table id="mainTable" class="table table-striped m-b-0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Location</th>
                <th>Container</th>
                <th>Arrival Date</th>
                <th>Available</th>
                <th>In Temp Order(s)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var objAvailInfo in Model.lstStockAvailability)
            {
                <tr>
                    <td>@objAvailInfo.id</td>
                    <td>@objAvailInfo.name</td>
                    <td>@objAvailInfo.reference</td>
                    <td>@objAvailInfo.edate</td>
                    <td>@objAvailInfo.totalQty</td>
                    <td>@objAvailInfo.inorder</td>
                </tr>
            }
        </tbody>
    </table>

    <table id="mainTable" class="table table-striped m-b-0">
        <tbody>
            <tr>
                <td class="col-md-3">
                    Product Name
                </td>
                <td class="col-md-3">
                    @Model.product_name
                </td>
            </tr>
            <tr>
                <td>
                    Description
                </td>
                <td>
                    @Model.description
                </td>
            </tr>
            <tr>
                <td>
                    Selling Price
                </td>
                <td>
                    @Model.Selling_Price
                </td>
            </tr>
            <tr>
                <td>
                    Barcode
                </td>
                <td>
                    @Model.barcode_no
                </td>
            </tr>
            <tr>
                <td>
                    Barcode Image
                </td>
                <td>
                    <img src="@Model.barcodefile" alt="Barcode Image" />
                </td>
            </tr>
            <tr>
                <td>
                    Website Link
                </td>
                <td>
                    @Model.url
                </td>
            </tr>
            <tr>
                <td>
                    Product Image
                </td>
                <td>
                    <img src="@Model.product_image" alt="Product Image" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
