﻿@model  GoodSide.Web.Models.StockDetail.StockDetailImageViewModel
<div class="table-responsive" id="childTableContainer">
    <table id="mainTable" class="table table-striped m-b-0">
        <tbody>
            <tr>
                <td class="col-md-3">
                    Product Name
                </td>
                <td class="col-md-3">
                    @Model.product_name
                </td>
            </tr>
            <tr>
                <td>
                    Description
                </td>
                <td>
                    @Model.description
                </td>
            </tr>
            <tr>
                <td>
                    Selling Price
                </td>
                <td>
                    @Model.Selling_Price
                </td>
            </tr>
            <tr>
                <td>
                    Barcode
                </td>
                <td>
                    @Model.barcode_no
                </td>
            </tr>
            <tr>
                <td>
                    Barcode Image
                </td>
                <td>
                    <img src="@Model.barcodefile" alt="Barcode Image" />
                </td>
            </tr>
            <tr>
                <td>
                    Website Link
                </td>
                <td>
                    @Model.url
                </td>
            </tr>
            @*<tr>
                <td>
                    Product Image
                </td>
                <td>
                    <img src="@Model.product_image" alt="Product Image" />
                </td>
            </tr>*@
        </tbody>
    </table>
    @*<div id="tab3">
            <h4>Other Information</h4>
            <div id="dvOtherInfo">

                <div id="relatedproducts">
                    <div class="rowgallary">
                        <div id="small-img" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                            <ul>
                                <li>
                                    <img src="~/POSContent/images/150x100-1.png" class="img-responsive inline-block" alt="Responsive image" />
                                    <br/><label class="control-label">Persian rug</label>
                                </li>
                                <li>
                                    <img src="~/POSContent/images/150x100-2.png" class="img-responsive inline-block" alt="Responsive image" />
                                    <br /><label class="control-label">Swirl mirror</label>
                                </li>
                                <li>
                                    <img src="~/POSContent/images/150x100-3.png" class="img-responsive inline-block" alt="Responsive image" />
                                    <br /><label class="control-label">Golden lamp</label>
                                </li>
                                <li>
                                    <img src="~/POSContent/images/150x100-4.png" class="img-responsive inline-block" alt="Responsive image" />
                                    <br /><label class="control-label">Christmas candle</label>
                                </li>
                                <li>
                                    <img src="~/POSContent/images/150x100-2.png" class="img-responsive inline-block" alt="Responsive image" />
                                    <br /><label class="control-label">Swirl mirror</label>
                                </li>
                                <li>
                                    <img src="~/POSContent/images/150x100-3.png" class="img-responsive inline-block" alt="Responsive image" />
                                    <br /><label class="control-label">Golden lamp</label>
                                </li>
                                <li>
                                    <img src="~/POSContent/images/150x100-4.png" class="img-responsive inline-block" alt="Responsive image" />
                                    <br /><label class="control-label">Christmas candle</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <div id="relatedproducts">
        <div class="rowgallary">
            <div id="small-img" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
                <ul>
                    @foreach (var objAvailInfo in Model.lststockImages)
                    {
                        <li>
                            <a href="@objAvailInfo.image_filepath" data-toggle="lightbox" data-gallery="example-gallery">
                                <img width="100" height="100" src="@objAvailInfo.image_filepath" class="img-responsive inline-block img-fluid" alt="Responsive image" />
                                <br /><label class="control-label">@objAvailInfo.name</label>
                            </a>

                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

</div>
