﻿@model List<GoodSide.Web.Models.StockDetail.CartItem>

<script src="@Url.Content("~/Scripts/custom/pos.js")"></script>
<style>
    .table-responsive td {
        padding: 5px !important;
    }

    .form-control-spinner {
        margin: 10px !important;
    }   
</style>

<div id="divallCartIteminfo">
    <h1 class="page-title">Shopping Cart</h1>
    <div id="grid">
        <div id="productlistscroll">
            <div class="form-group pull-right ">
                <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "StockDetail")'" type="button" id="btnAdd"><i class='fa fa-search'></i>BackToProduct</button>
            </div>
            <!-- Grid start -->
            <div class="table-responsive">
                <table id="tblProductDisplay" class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            @*  <th><input id="ckSelectAll" style="text-align:center !important " type="checkbox" class="checkbox" /></th>*@
                            <th>ProductID</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>QTY</th>
                            <th>ItemTotal</th>
                            <th>Remove Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            string textboxId = "txt" + "_" + item.ProductId;
                            string tdsalespriceId = "tdsalesprice" + "_" + item.ProductId;
                            string tditemtotalId = "tditemtotal" + "_" + item.ProductId;                         
                            <tr>
                                @* <td class="center-block"><input style="text-align:center !important " type="checkbox" class="checkbox chkProducts" data-id="@item.pid" data-uid="@item.uniqueid" /></td>*@
                                <td>@item.ProductId</td>
                                <td>@item.ProductName</td>
                                <td id='@tdsalespriceId'>@item.SalePrice</td>
                                <td>
                                    <div class="number-spinner">
                                        <table cellpadding="3">
                                            <tr>
                                                <td rowspan="2">@Html.TextBoxFor(m => item.Quantity, new { @class = "form-control text-center form-control-spinner", @maxlength = "3", @id = textboxId, @min = "0", @max = "1000", @style = "width:70px;height:40px", @type = "text" })</td>
                                                <td>
                                                    <div><button type="button" class="btn btn-default btn-info" data-dir="up" data-dir2='@tditemtotalId' data-dir1='@tdsalespriceId'><span class="glyphicon glyphicon-plus"></span></button></div>
                                                    <div class="top5"><button type="button" class="btn btn-default btn-info" data-dir2='@tditemtotalId' data-dir1='@tdsalespriceId' data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td id='@tditemtotalId'>@((item.SalePrice * item.Quantity))</td>
                                <td class="delete-control" onclick="deleteitem('@item.ProductId','@item.ItemId')"></td>

                            </tr>
                        }
                        @*@if (Model.orderdetailList.Count() == 0)
                            {
                                <tr>
                                    <td colspan="12">List of products searched by barcode above</td>
                                </tr>
                            }*@
                    </tbody>
                </table>
            </div>
            <div class="row">              
                    <div class="col-xs-12">
                        <h4>Order Total: <label style="font-size:18px" id="lblOrderTotal">@Model.Sum(x => x.Itemtotal)</label></h4>
                   </div>              
            </div>    
        </div>
        <div class="form-group pull-right ">
            <button class="btn btn-primary" type="button" onclick="AddItemstoQuotes()" id="btnSave"><i class='fa fa-search'></i>Save Order</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('divCartInfo').show();
    });

    function deleteitem(productid,itemid) {
        var actionURL = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/StockDetail/DeleteItem"))";
        data = { productid: productid , itemid : itemid }
        $.ajax({
            url: actionURL,
            data: data,
            type: "POST",
            datatype: "json",
            success: function (data) {
                result = data;
                if (result.success == true) {
                    POSJS.LoadCartDisplay();
                }
                else {

                }
            },
            error: function (xhr, status, error) {
                result = xhr.responseText;
            },
            complete: function () {

            }
        });
    }

    function AddItemstoQuotes() {
        try {
            var obj = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            $.each(obj, function (i, v) {
                var productid = this.ProductId;
                var saleprice = this.SalePrice;
                var itemtotal = this.Itemtotal;
                var qty = parseInt($("#txt" + "_" + productid).val());
                this.Quantity = qty;
            });


            var dataResult = JSON.stringify({items : JSON.stringify(obj)});
            var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/StockDetail/SaveOrderasQuote"))";
                $.ajax({
                    url: partialViewUrl,
                    type: "POST",
                    data: dataResult,
                    contentType: "application/json; charset=utf-8",
                    success: function (resultData) {
                        if (resultData.success == true) {
                            BootstrapDialog.alert('New Generated OrderID: ' + resultData.orderId);

                            var urlAction ="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/StockDetail/CreateNewOrder"))";                            
                            var result = POSJS.CreateNewOrder(urlAction);
                        
                            location.href='@Url.Action("Index", "StockDetail")';
                    }
                    else {
                        BootstrapDialog.alert(resultData.message);
                    }
                }
            });
        }
        catch (e) {
            alert(e);
        }
    }

    $(function () {
        var action;
        $(".number-spinner button").click(function () {
            btn = $(this);
            input = btn.closest('.number-spinner').find('input');
            btn.closest('.number-spinner').find('button').prop("disabled", false);          
            if (btn.attr('data-dir') == 'up') {

                //action = setInterval(function(){
                if (input.attr('max') == undefined || parseInt(input.val()) < parseInt(input.attr('max'))) {
                    var ValueBeforUpdate = parseInt(document.getElementById(btn.attr('data-dir1')).innerHTML) * (parseInt(input.val()));
                    input.val(parseInt(input.val()) + 1);
                    var ValueAfterUpdate = parseInt(document.getElementById(btn.attr('data-dir1')).innerHTML) * (parseInt(input.val()));
                    document.getElementById(btn.attr('data-dir2')).innerHTML = ValueAfterUpdate ;                  
                    document.getElementById("lblOrderTotal").innerHTML = (parseInt(document.getElementById("lblOrderTotal").innerHTML) + (ValueAfterUpdate - ValueBeforUpdate));
                } else {
                    btn.prop("disabled", true);
                    clearInterval(action);
                }
                // }, 70);

            } else {
                //action = setInterval(function(){
                if (input.attr('min') == undefined || parseInt(input.val()) > parseInt(input.attr('min'))) {
                    var ValueBeforUpdate = parseInt(document.getElementById(btn.attr('data-dir1')).innerHTML) * (parseInt(input.val()));                 
                    input.val(parseInt(input.val()) - 1);
                    var ValueAfterUpdate = parseInt(document.getElementById(btn.attr('data-dir1')).innerHTML) * (parseInt(input.val()));                 
                    document.getElementById(btn.attr('data-dir2')).innerHTML = ValueAfterUpdate ;                  
                    document.getElementById("lblOrderTotal").innerHTML = (parseInt(document.getElementById("lblOrderTotal").innerHTML) - (ValueBeforUpdate - ValueAfterUpdate));
                } else {
                    btn.prop("disabled", true);
                    clearInterval(action);
                }
                //}, 70);
            }
        });
    });

    function BackToProduct()
    {

    }

</script>
