﻿
@{
    ViewBag.Title = "StockManagement";
    Layout = "~/Views/Shared/_UboldLayout.cshtml";
}
@section additionalCSS {
    @Styles.Render("~/Content/DataTableCSS")
}

<style type="text/css">
    td.details-control {
        background: url(@Url.Content("~/Content/ubold/images/details_open.png")) no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
     background: url(@Url.Content("~/Content/ubold/images/details_close.png")) no-repeat center center;
    }


</style>


<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Stock Maintenance</h4>
        <ol class="breadcrumb">
            <li>
                <a href="#">Stock Details</a>
            </li>
            <li>
                <a href="#">Stock Maintenance</a>
            </li>
            <li class="active">
                Stock Items
            </li>
        </ol>

    </div>
</div>
<!-- Page-Title -->




<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <h4 class="m-t-0 header-title"><b>Stock list</b></h4>
            <p class="text-muted font-13 m-b-30">

            </p>

            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Details</th>
                        <th>Part No</th>
                        <th>Product Name</th>
                        <th>Supplier</th>
                        <th>Category</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Barcode</th>
                        <th>Was Price</th>
                        <th>Sell Price</th>
                        <th>On Promotion</th>
                        <th>T.</th>
                        <th>A.</th>
                        <th>U.</th>
                        <th>PO</th>
                    </tr>
                </thead>


                @*<tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                            <td>$320,800</td>
                        </tr>
                    </tbody>*@
            </table>
        </div>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jquery")

    <script src="~/Content/ubold/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/ubold/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/Content/ubold/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Content/ubold/pages/datatables.init.js"></script>
    <script type="text/javascript">
        var table;
        var htmlResult;
        $(function () {
            var oTable = $('#datatable').dataTable({
                "processing": true,
                "serverSide": true,
                "info": true,
                "stateSave": true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "ajax": {
                    "url": "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))/StockDetail/GetTableData",
                    "type": "GET"
                },
                "columns": [
                     {
                         "class": "details-control",
                         "orderable": false,
                         "data": null,
                         "defaultContent": ""
                     },
                    { "data": "part_no", "orderable": true },
                    { "data": "product_name", "orderable": true },
                    { "data": "supplier", "orderable": true },
                    { "data": "categoryid", "orderable": false },
                    { "data": "typeid", "orderable": false },
                    { "data": "description", "orderable": false },
                    { "data": "barcode_no", "orderable": false },
                    { "data": "spnow", "orderable": true },
                    { "data": "sellingprice", "orderable": true },
                    { "data": "onpromo", "orderable": false },
                    { "data": "physicalstocklevel", "orderable": false },
                    { "data": "allocatedstocklevel", "orderable": false },
                    { "data": "unallocatedstocklevel", "orderable": false },
                    { "data": "inorder", "orderable": false }

                ],
                "order": [[9, "asc"]]
            });

            oTable.fnSort([[1, 'asc']]);

            table = oTable.DataTable();

        });

        /* Formatting function for row details - modify as you need */
        function format(d) {

            var result = "";
            var url = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))StockDetail/StockDetailedInfo";
            $.ajax({
                "url": url,
                dataType: 'html',
                data: { stockId: d.id },
                cache: false,
                async: false,
                type: "GET",
                success: function (resultData) {
                    result = resultData;
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
            return result;
        }

        // Add event listener for opening and closing details
        $('#datatable').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            } else {
                // Open this row
                var url = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))StockDetail/StockManagement/StockDetailedInfo";

                var htmlResult = format(row.data());
                row.child(htmlResult).show();
                tr.addClass('shown');
            }
        });




    </script>
}
