﻿@model GoodSide.Web.Models.POS.OtheInfoViewModel

@using (Html.BeginForm("ChangeSalesPerson", "POS", FormMethod.Post, new { id = "frmChangeSalesPerson" }))
{
    <div class="col-sm-12">
        <div class="form-group">
            <label class="control-label">please enter user password</label>
        </div>
    </div>
    @*<div class="row">
            <div class="col-sm-3">
                <label class="control-label">Currency</label>
            </div>
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.defaultcurrency, Model.CurrencyList, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.defaultcurrency)
            </div>
        </div>*@
    @*if (Model.OptiontoShow == "DropdownCheck")
    {
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">Sales Person</label>
                @Html.DropDownListFor(m => m.salespersonid, Model.SalesPersonList, "-- Select Sales Person --", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.salespersonid)
            </div>
        </div>
    }
    else if*@ 
    if ((Model.OptiontoShow == "PasswordCheck"))
    {
        <div class="col-sm-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                @Html.PasswordFor(m => m.PassWord, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
            </div>
        </div>
    }

    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                @* <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" type="button"> Cancel</button>*@
                <button class="btn btn-success" type="submit">Login</button>
                <button class="btn btn-default" type="button" id="btnContinue">Continue</button>
            </div>
        </div>

    </div>

}

<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script>
    $(document).ready(function () {
        $('#dialogChangeSalesPerson').find('.close').remove();

    });
   
    $( "#btnContinue" ).click(function() {
        $.each(BootstrapDialog.dialogs, function (id, dialog) {
            if (id === "dialogChangeSalesPerson") {
                dialog.close();
            }
        });
        window.location.href = '@Url.Action("Index", "POS")';
        window.location.reload(true);
    });


    $('#frmChangeSalesPerson').submit(function (e) {
        var form = $(this);
        if (form.validate().form()) {
            $.post('@Url.Action("ChangeSalesPerson", "Customer")',
                form.serialize(),
                function (data) {
                    if (data.success) {
                        $.each(BootstrapDialog.dialogs, function (id, dialog) {
                            if (id === "dialogChangeSalesPerson") {
                                dialog.close();
                            }
                        });
                        window.location.href = '@Url.Action("Index", "POS")';
                        window.location.reload(true);
                    }
                    else {
                        if (data.message != null)
                            BootstrapDialog.alert(data.message);
                    }
                }
            );
        }
        e.preventDefault();
    });
</script>
