﻿@model GoodSide.Web.Models.Customer.PaymentInfoViewModel




<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 borderClass">
        <label for="exampleInputEmail1" id="lblVoucherDetails" class="changeDueText">@Model.changedueInfo</label>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 ">
        &nbsp;&nbsp;
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="modal-footer">
    <div class="col-sm-12">
        <div class="pull-right">
            <button class="btn-lg btn-success" type="button" onclick="onActionClick()"> OK </button>
        </div>
    </div>

    <input type="hidden" id="hdnIsPrint" name="hdnIsPrint" value="@Model.isPrint" />
</div>

<script type="text/javascript">
    function onActionClick() {
        var printval = $("#hdnIsPrint").val();
       
        POSJS.CloseDialog('dialogdue');
        var bn = (printval == "false" || printval == false ? false : true);
        PlaceOrder(bn);
        return false;
    }
</script>