﻿@model GoodSide.Web.Models.Customer.CreditNoteViewModel

<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table id="tblcustomerlist" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>CREDIT NO</th>
                        <th>TYPE</th>
                        <th>ORDER NO</th>
                        <th>PAY AMOUNT</th>
                        <th>DATE CREATED</th>
                        <th>AMOUNT</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" id="btnAddCreditNote" class="btn btn-primary buttonscol" onclick="AddCredit();">Add Credit</button>&nbsp;<button type="button" class="btn btn-default" onclick="goToPayment();">Go To Payment</button>
</div>
<script type="text/javascript">

    var table;
    var htmlResult;
    var oTable;
    $(function () {

        oTable = $('#tblcustomerlist').dataTable({
            "processing": true,
            "serverSide": true,
            "info": true,
            "searching": false,
            "stateSave": true,
            "paging": false,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "ajax": {
                "url": "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))Customer/GetTableDataCreditNoteDisplay",
                "type": "GET"
    },
            "columns": [

                { "data": "id", "orderable": false },
                { "data": "cnno", "orderable": false },
                { "data": "type", "orderable": true},
                { "data": "ono", "orderable": true },
                { "data": "amount", "orderable": false  , "render": function (data, type, full, meta) { return "<input id='nameInput'  type='text'></input>" } },
                { "data": "tdate", "orderable": false },
                { "data": "amount", "orderable": false },

                //{ "data": "id", "orderable": false }

            ],
            "order": [[2, "asc"]]

    });

    oTable.fnSort([[2, 'asc']]);

    table = oTable.DataTable();

    });

    function AddCredit()
    {
        var creaditNotesDetails = {
           
            Items: []
        };
        table.rows().eq(0).each( function ( index ) {
            var row = table.row( index );
            var data = row.data();
            var id = data.id;
            var amountpaid = oTable[0].rows[index+1].cells[4].firstChild.value;
            var cnno = data.cnno;
            var ono = data.ono;
            var amount = data.amount;
           
            creaditNotesDetails.Items.push({
                "id" : id,
                "amount"  : amount,
                "amountpaid" : amountpaid,
                "cnno"  : cnno,
                "ono" : ono,
            });

        } );
       
        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/AddCreditNote"))";
        $.ajax({
            url: partialViewUrl,
            cache: false,
            async: false,
            type: "POST",
            data: JSON.stringify(creaditNotesDetails), 
            dataType: "json", 
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var msg = data.Message;
                reloadPayment();
                goToPayment();
            }
        });
    }

    function goToPayment()
    {
        POSJS.CloseDialog("dialogCreditNoteSearch");
    }


</script>
