﻿@model GoodSide.Web.Models.Customer.CustomerViewModel

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <td class="">Code</td>
            <td class="">@Model.code</td>
        </tr>
        <tr>
            <td class="">Name</td>
            <td class="" id="lblcustomername">@Model.name</td>
        </tr>
        <tr>
            <td class="">Address</td>
            <td class="">@Model.address</td>
        </tr>
        <tr>
            <td class="">Phone</td>
            <td class="">@Model.phone</td>
        </tr>
        <tr>
            <td class="">Balance</td>
            <td class="">@Model.balance</td>
        </tr>
        <tr>
            <td class=""><a style="cursor:pointer" onclick="Vieworder()">No Of Existing Orders</a></td>
            <td class="">@Model.totalorders</td>
        </tr>
    </table>
    @Html.HiddenFor(m => m.id,new { @id="hdnSelectedCustomerId"})
</div>