﻿@model  GoodSide.Web.Models.Customer.CustomerViewOrderModel
<style>
    .modal-body {
        max-height: calc(100vh - 212px);
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table id="tblcustomerordlist" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>View Summary</th>
                        <th>Open Order</th>
                        <th>Order Date</th>
                        <th>Order No</th>
                        <th>Status</th>
                        <th>Order Status</th>
                        <th>Phone</th>
                        <th>SalesPerson</th>
                        <th>Order Total</th>
                        <th>Paid</th>
                        <th>Due Amount</th>

                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>


<script type="text/javascript">
    var table;
    var htmlResult;
    var oTable;
    
    $(function () {

        oTable = $('#tblcustomerordlist').dataTable({
            "processing": true,
            "serverSide": true,
            "info": true,
            "stateSave": true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "ajax": {
                "url": "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))Customer/GetViewOrderTableData?customerid=" + @Model.cisentityId + "&Ordstatus=" + @Model.OrderStatus,
                "type": "GET"
            },
            "columns": [

                { "data": "id", "orderable": false, "render": function (data, type, full, meta) { return "<button class='btn btn-sm' onclick='SelectOrder(\"" + data + "\")'>View</button>" } },
                { "data": "id", "orderable": false, "render": function (data, type, full, meta) { return "<button class='btn btn-sm' onclick='OpenOrder(\"" + data + "\")'>Open</button>" } },
                { "data": "oodate", "orderable": true },
                { "data": "orderno", "orderable": true },
                { "data": "status", "orderable": true },
                { "data": "ordstatus", "orderable": true },
                { "data": "phone", "orderable": false },
                { "data": "spersonid", "orderable": false },
                { "data": "ordtotal", "orderable": false },
                { "data": "paid", "orderable": false },
                { "data": "dueamount", "orderable": false }
                //{ "data": "id", "orderable": false }

            ],
            "order": [[0, "desc"]],
            //'fnDrawCallback': function (oSettings) {
            //    $('#tblcustomerlist_filter').each(function () {
            //        $(this).append('<button class="btn btn-primary" id="btnSearch" onclick="SearchCustomer()" type="button">Search Customers</button>');
            //    });
            //}

            initComplete: function () {
                var input = $('#tblcustomerordlist_filter input').unbind(),
                    self = this.api(),
                    $searchButton = $('<button>')
                               .text('Search Order')
                               .prop("type", "button")
                               .prop("style", "margin-left:10px")
                               .addClass('btn btn-primary')
                               .click(function () {
                                   self.search(input.val()).draw();
                               }),
                    $clearButton = $('<button>')
                               .text('clear')
                               .prop("type", "button")
                               .addClass('btn btn-primary')
                               .click(function () {
                                   input.val('');
                                   $searchButton.click();
                               })
                $('#tblcustomerordlist_filter').append($searchButton);
            }

        });

        oTable.fnSort([[0, 'desc']]);

        table = oTable.DataTable();

        $('#tblcustomerordlist_filter input').unbind()


    });

    function SearchCustomer() {
        oTable.fnFilter($('#tblcustomerordlist_filter input').val());
    }

    function SelectOrder(OrderId) {
        var actionURL = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/_OrderSummary"))";
        var data = { orderId: OrderId };
        POSJS.LoadDialogueBox(actionURL,'dialogOrderSummary','Order Summary' ,data);
    }
    function OpenOrder(OrderId) {

        var partialViewUrl = "@string.Format("{0}://{1}{2}?orderid=", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/Openselectedorder"))";
        partialViewUrl += OrderId;
        $.ajax({
            url: partialViewUrl,
            type: "POST",
            //data: {
            //    orderid: OrderId
            //},
            contentType: "application/json; charset=utf-8",
            success: function (resultData) {                
                if (resultData.openstatus == "success")  
                {
                    window.location.href = '@Url.Action("Index", "POS")';
                    //var dataResult2 = JSON.stringify({ items: JSON.stringify(resultData) });                   
                    var partialViewUrl2 = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/productdisplay"))";
                    $.ajax({
                        url: partialViewUrl2,
                        //data: dataResult2,
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            var custId = @Model.cisentityId;
                            var actionURL = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/AddCustomerInfoToOrder"))";
                            POSJS.SelectCustomer(custId, actionURL, 'divCustomerInfo', true);
                            loadOrderMainGrid();
                            $.each(BootstrapDialog.dialogs, function (id, dialog) {
                                if (id === "dialogCustomerSearch") {
                                    dialog.close();
                                }
                            });

                            $.each(BootstrapDialog.dialogs, function (id, dialog) {
                                if (id === "dialogCustomerOrder") {
                                    dialog.close();
                                }
                            });

                           

                            @*$("#productSearchBody").html(data);
                                if ("@isFromProductSearch".toLowerCase() == "false") {
                                    var actionURL = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/_ProductInfo"))";
                                        POSJS.SelectProduct("@Model.pid", actionURL, 'dvProductInfo');
                                }
                                $.each(BootstrapDialog.dialogs, function (id, dialog) {
                                    if (id === "dialogProductSearch" || id === "dialogUpdateOrder") {
                                        dialog.close();
                                    }
                                });*@
                        }
                    });
                }
                else
                {

                    BootstrapDialog.alert('Cannot Re-open Confirmed Order');
                }
            }
       
        });

        @*var actionURL = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/Openselectedorder"))";
            var data = { orderId: OrderId };
        POSJS.LoadDialogueBox(actionURL,'dialogOrderSummary','Order Summary' ,data);*@
    }
</script>


