﻿@model GoodSide.Web.Models.Customer.CustomerViewModel
<style>
    .modal-body {
        max-height: calc(100vh - 212px);
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>


@using (Ajax.BeginForm("SaveCustomer", null, new AjaxOptions { OnBegin = "AjaxRequestStart();", OnComplete = "AjaxRequestFinish();", HttpMethod = "Post", OnSuccess = "SaveCustomerSuccess" }, new { enctype = "multipart/form-data" }))
{
    <div class="row center-block" id="divcustomerform">
        @Html.HiddenFor(m => m.id)
        <div class="col-sm-10">

            <div class="form-group">
                <label>Customer Code :</label>
                @Html.TextBoxFor(m => m.code, new { @class = "form-control", maxlength = "50", @readonly = "readonly" })
            </div>

        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <label>Phone Numbers <b>(Enter 2 digits to search for existing customer (all stores)) </b></label>
                @if (Model.iscashsale)
                {
                    @Html.TextBoxFor(m => m.phonenumber, new { @class = "form-control", maxlength = "50", @readonly = "readonly" })
                }
                else
                {
                    @Html.TextBoxFor(m => m.phonenumber, new { @class = "form-control", maxlength = "50" })
                    @Html.ValidationMessageFor(m => m.phonenumber)
                }
            </div>
        </div>

        <div class="col-sm-10">
            <div class="form-group">
                <label>Customer Name</label>
                @if (Model.iscashsale)
                {
                    @Html.TextBoxFor(m => m.name, new { @class = "form-control", maxlength = "50", autocomplete = "off", @readonly = "readonly" })
                }
                else
                {
                    @Html.TextBoxFor(m => m.name, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
                }
                @Html.ValidationMessageFor(m => m.name)
            </div>
        </div>

        <div class="col-sm-10">
            <div class="form-group">
                <label>Delivery Address</label>
                @Html.TextAreaFor(m => m.address, new { @class = "form-control", maxlength = "255", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.address)
                @*<input type="button" src="~/POSContent/images/recnew.png" id="txt" value="Add" />
                    <input type="button" src="~/POSContent/images/delete.png" id="txtremove" value="Remove" style="" />*@
            </div>

            <div id="Addholder">

            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <label>Postal Code</label>
                @Html.TextBoxFor(m => m.postalcode, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <label>Sales Person</label>
                @Html.DropDownListFor(m => m.salespersonid, Model.SalesPersons, "---Select Sales Persons---", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.salespersonid)
            </div>
        </div>

        @*<div class="col-sm-10">
                <div class="form-group">
                    <label>County</label>
                    @Html.DropDownListFor(m => m.countryid, Model.CountyList, "---Select County---", new { @class = "form-control" })
                </div>

            </div>*@
        <div class="col-sm-10">
            <div class="form-group">
                <label>Default Currency</label>
                @Html.DropDownListFor(m => m.defaultcurrency, Model.CurrencyList, "---Select Default Currency---", new { @class = "form-control" })
            </div>

        </div>
        @*<div class="col-sm-10">

                <div class="form-group">
                    <label>Country </label>
                    @Html.DropDownListFor(m => m.countryid, Model.CountryList, "---Select Country ---", new { @class = "form-control" })
                </div>


            </div>*@




        @*<div class="col-sm-10">
                <div class="form-group">
                    <label>Primary Contact Name</label>
                    @Html.TextBoxFor(m => m.primaryphonecontact, new { @class = "form-control", maxlength = "50" })
                </div>
            </div>*@

        <div class="col-sm-10">
            <div class="form-group">
                <label>Alternative Number (mobile)</label>
                @Html.TextBoxFor(m => m.mobilenumber, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
                @*@Html.ValidationMessageFor(m => m.mobilenumber)*@
            </div>
        </div>


        @*<div class="col-sm-10">
                <div class="form-group">
                    <label>Secondary Contact Name</label>
                    @Html.TextBoxFor(m => m.secondaryphonecontact, new { @class = "form-control", maxlength = "50" })
                </div>
            </div>*@

        <div class="col-sm-10">
            <div class="form-group">
                <label>Email Address</label>
                @Html.TextBoxFor(m => m.email, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.email)
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <label>How did you hear about us?</label>
                @Html.DropDownListFor(m => m.howdidyouhearaboutusid, Model.AboutUsList, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                @Html.CheckBoxFor(m => m.active, new { @id = "isActive" })
                <label for="isActive">Active</label>
            </div>
        </div>
        @*<div class="col-sm-10">
                <div class="form-group">
                    <label>Financial Institution?</label>
                    @Html.DropDownListFor(m => m.financialinstitutionid, Model.FianacialList, new { @class = "form-control" })
                </div>
            </div>*@
        @*<div class="col-sm-10">
                <div class="form-group">
                    <label>Delivery Type</label>
                    @Html.DropDownListFor(m => m.deliveryType, Model.DeliveryTypeList, new { @class = "form-control" })
                </div>
            </div>*@
        @*<div class="col-sm-10">
                <div class="form-group">
                    <label>Show map on receipt &nbsp;</label>
                    @Html.CheckBoxFor(m => m.showmaponreceipt)

                </div>
            </div>*@

    </div>
    <div class="row padding-lg-bottom">
        <div class="col-sm-10">
            <div>
                <div class="form-group pull-right">
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" type="button"><i class='fa fa-ban'></i> Cancel</button>
                    @if (Model.iscashsale)
                    {
                        <button class="btn btn-success" type="submit" disabled="disabled"><i class='fa fa-search'></i> Save</button>
                    }
                    else
                    {
                        <button class="btn btn-success" type="submit"><i class='fa fa-search'></i> Save</button>
                    }
                </div>
                <br />
            </div>
        </div>
    </div>

}
<script type="text/javascript">
    var addCounter = 0;
    $(document).ready(function () {
        jQuery.validator.unobtrusive.parse();
        jQuery.validator.unobtrusive.parse("form");


        $("#phonenumber").autocomplete({
            source: "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))Customer/CustomerPhoneSearch",
            minLength: 2,
            select: function (event, ui) {
                ReloadCustomerData(ui.item.id)
            }
        }).autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li>")
              .append("<a>" + item.value + "<br>" + item.lable + "</a>")
              .appendTo(ul);
        };

        $("#name")[0].focus();
    });
    function ReloadCustomerData(custId) {
        var customerdata = { customerId: custId };
        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/CustomerAddEdit"))";
        var data = POSJS.ReloadCustomerEdit(partialViewUrl, customerdata);
        $("#modelWindow").html(data);
        SelectCustomer(custId, false);
    }

    function SaveCustomerSuccess(data) {

        var _messageType;
        if (data.IsSuccess) {
            _messageType = messageType.success;
            // if no exception is there and data saved successfully then update the local account id stored on the parent page
            if (data.ID.length > 0) {
                SelectCustomer(data.ID, true);
            }
        }
        else {
            _messageType = messageType.error;
            DisplayMessage("divcustomerform", _messageType, [data.Message]);
        }
    }

    function SelectCustomer(custId, needtoclose) {

        var actionURL = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/AddCustomerInfoToOrder"))";

        POSJS.SelectCustomer(custId, actionURL, 'divCustomerInfo', true);
        if (needtoclose == true) {
            POSJS.CloseDialog("dialogCustomerAddEdit");
        }
        loadOrderMainGrid();
        var actionURL = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/_OtherInfo"))";
        POSJS.UpdateOtherInfo(actionURL, 'dvOtherInfo');
    }
    $("#txt").click(function () {
        addCounter++;
        var AddName = 'address' + addCounter;
        var $ctrl = $('<textarea/>').attr({ id: AddName, value: '' }).addClass("form-control");
        $("#Addholder").append($ctrl);
    });
    $("#txtremove").click(function () {

        var AddName = 'address' + addCounter;
        var d = document.getElementById('Addholder');
        var olddiv = document.getElementById(AddName);
        d.removeChild(olddiv);
        //var AddName = 'address' + addCounter;
        //alert(AddName);
        //var elem = document.getElementById(AddName);
        //elem.parent.removeChild(elem);
        addCounter--
        return false;
    });

</script>