﻿@model GoodSide.Web.Models.Customer.OrderDetailSummaryModel

@foreach (var item in Model.orderMaster)
{
    <div class="table-responsive">
        <table class="table table-hover ">
            <tr>
                <th>VAT NO: @item.VatRegNo</th>
                <th class="text-right">Tax Invoice</th>
            </tr>
            <tr>
                <td>
                    <p><strong>Customer:</strong>@item.customername</p>
                    <p><strong>Order No.:</strong>@item.orderno</p>
                    <p><strong>Cashier:</strong>@item.salespersonname</p>
                </td>
                <td class="text-right">
                    <p>@DateTime.Now</p>
                    @*<p><strong>Till Counter:</strong>PCIRTOP</p>*@
                </td>
            </tr>
        </table>
    </div>

    <br>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>QTY</th>
                <th>Product Name</th>
                <th>Price</th>
                <th class="text-right">Amount</th>
            </tr>
            @foreach (var orderitem in Model.orderdetailList)
            {
                <tr>
                    <td>@orderitem.qty</td>
                    <td>@orderitem.productname</td>
                    <td>@orderitem.slprice</td>
                    <td class="text-right">@(orderitem.slprice * orderitem.qty) </td>
                </tr>
            }

        </table>
    </div>

    <br>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Total Items</th>
                <th></th>
                <th class="text-right">@Model.orderdetailList.Sum(x => x.qty)</th>
            </tr>
            <tr>
                <td><strong>Total:</strong></td>
                <td>@item.currencysymbol</td>
                <td class="text-right">@Math.Round(Model.orderdetailList.Sum(x => (x.slprice * x.qty)), 2)</td>
            </tr>
            <tr>
                <td><strong>Discount:</strong></td>
                <td>@item.currencysymbol</td>
                <td class="text-right">@Model.orderdetailList.Sum(x => x.discgiven)</td>
            </tr>
            <tr>
                <td><strong>VAT: 23.00%</strong></td>
                <td>@item.currencysymbol</td>
                <td class="text-right">@Math.Round(Model.orderdetailList.Sum(x => x.vatamount), 2)</td>
            </tr>
            <tr>
                <td><strong>NET</strong></td>
                <td>@item.currencysymbol</td>
                <td class="text-right">@Math.Round(Model.orderdetailList.Sum(x => x.netprice), 2)</td>
            </tr>
            <tr>
                <th>Comments</th>
                <th>&nbsp;</th>
                <th class="text-right">&nbsp;</th>
            </tr>
            <tr>
            <tr></tr>
            @{decimal Totalpaid = 0;}
            @foreach (var payitem in Model.orderPaydetails)
            {
                <tr>
                    <td><strong>@payitem.paytype</strong></td>
                    <td>@item.currencysymbol </td>
                    <td class="text-right">@payitem.amount</td>
                </tr>

                Totalpaid = Totalpaid + @payitem.amount ;
            }

            <tr>
                <td><strong>Total Paid</strong></td>
                <td>@item.currencysymbol</td>
                <td class="text-right">@Totalpaid</td>
            </tr>
        </table>
    </div>
}
<input type="hidden" id="hdnReportBIRTURLSummary" name="ReportBIRTURLSummary" value="@Model.BIRTReportURL" />
<div class="modal-footer">
    <button id="btnSummaryPrintSave" type="reset" class="btn btn-primary">Print & Close</button>
    <button id="btnClose" type="reset" class="btn btn-primary">Close</button>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#btnSummaryPrintSave').on('click', function () {

                var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/_GetReport"))";
                var reportoptiondialog = POSJS.LoadDialogueBoxSmall(partialViewUrl, 'reportoptiondialog', 'Select Report', null);

            //var reporturl = $("#hdnReportBIRTURLSummary").val();
            //window.open(reporturl, '_blank', "height=1000,width=800");
            //$.each(BootstrapDialog.dialogs, function (id, dialog) {
            //    if (id === "dialogOrderSummary") {
            //        dialog.close();
            //    }
            //});
        });

        $('#btnClose').on('click', function () {
            //PlaceOrder(false);

            $.each(BootstrapDialog.dialogs, function (id, dialog) {
                if (id === "dialogOrderSummary") {
                    dialog.close();
                }
            });
        });

        //$('.bootstrap-dialog-close-button .close').on('click', function () {
        //    CreateNewOrder();
        //});

    });

    function DisplayReport(reportnames) {

        //var reporturl = $("#hdnReportBIRTURL").val().replace("{orderid}", $("#hiddenOrderId").val());
        //var reporturl = reporturl.replace("reportname", reportname);
        //window.open(reporturl, '_blank', "height=1000,width=800");    

        var reportArray = reportnames.split('|');

        reportArray.forEach(ShowResults);


        //var reporturl = $("#hdnReportBIRTURLSummary").val().replace("reportname", reportname);
        //window.open(reporturl, '_blank', "height=1000,width=800");

        $.each(BootstrapDialog.dialogs, function (id, dialog) {
            if (id === "dialogOrderSummary") {
                dialog.close();
            }
        }); 

    }
    function ShowResults(value, index, ar) {
        var reporturl = $("#hdnReportBIRTURLSummary").val().replace("reportname", value);
        window.open(reporturl, '_blank', "height=1000,width=800");
    }


</script>