﻿@using Newtonsoft.Json;
@model GoodSide.Web.Models.Customer.PaymentInfoViewModel
<style>
    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.0em 1.0em 1.0em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        font-size: 14px !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 5px;
        border-bottom: none;
    }

    .modal-body {
        padding: 15px;
    }
</style>

<div id="updateProductInfo" style="display:none"></div>
@using (Ajax.BeginForm("SavePOSPaymentSummary", "Description",
                            new AjaxOptions
                            {
                                UpdateTargetId = "updateProductInfo",
                                OnBegin = "AjaxRequestStart();",
                                OnComplete = "AjaxRequestFinish();",
                                HttpMethod = "Post",
                                OnSuccess = "OnSuccessSave"
                            }, new { id = "AjaxForm" }


                            ))
{

    <div id="unique_thing_id">
        <div class="body-content">
            <div class="row">
                <div class="col-md-5-m">
                    <h5>Payment Summary</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td>Sub Total</td>
                                <td class="text-right">@Model.subtotal</td>
                            </tr>
                            @*<tr>
                                    <td>Misc Charge</td>
                                    <td class="text-right">@Model.misc</td>
                                </tr>*@
                            <tr>
                                <td>Discount</td>
                                <td class="text-right">@Model.discount</td>
                            </tr>

                            <tr>
                                <td>Invoice Amount</td>
                                <td class="text-right">@Model.invoiceamount</td>
                            </tr>
                            <tr>
                                <td>Payment Recieved :<span class="paymentdetailtext">   @Model.displaypaidamount</span> </td>
                                <td class="text-right">@Model.paidamount</td>
                            </tr>
                            <tr>
                                <td><p class="lead">Remaining Payment</p></td>
                                <td class="text-right"><span id="invoiceamount">@Math.Round(Convert.ToDecimal(@Model.remainingpayment), 2)</span></td>
                            </tr>
                        </table>
                    </div>
                    @Html.HiddenFor(m => m.discount)
                    @Html.HiddenFor(m => m.cash)
                    @Html.HiddenFor(m => m.cheque)
                    @Html.HiddenFor(m => m.visa)
                    @Html.HiddenFor(m => m.mastercard)
                    @Html.HiddenFor(m => m.laser)
                    @Html.HiddenFor(m => m.giftvoucher)
                    @Html.HiddenFor(m => m.creditnote)
                    @Html.HiddenFor(m => m.paypal)
                    @if (Model.showpasswordoption)
                    {
                        <h5>User Authentication</h5>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Password</label>
                            @Html.PasswordFor(m => m.password, new { @class = "form-control", maxlength = "50" })
                        </div>
                    }
                    @if (!String.IsNullOrEmpty(Model.voucherdetail))
                    {
                        <div class="form-group">
                            <label for="exampleInputEmail1">Voucher Details:-</label>
                            <label for="exampleInputEmail1" id="lblVoucherDetails" class="paymentdetailtext">@Model.voucherdetail</label>
                            @*@Html.LabelFor(m => m.voucherdetail, new { @class = "form-control", maxlength = "50", @readonly = "readonly" })*@
                        </div>
                    }
                    <div class="form-group">
                        <label for="exampleInputEmail1">Order Email</label>
                        @Html.TextBoxFor(m => m.customeremail, new { @class = "form-control", maxlength = "200", autocomplete = "off" })
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(m => m.isOrderChecked, new { @id = "isOrderChecked" })
                        <label for="isOrderChecked">Send Order Email</label>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label">Sales Person</label>
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.Entityid, Model.SalesPersonList, "-- Select Sales Person --", new { @id = "ddlsalesperson", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Entityid)
                        </div>
                    </div>
                </div>
                <div class="col-md-4-m">


                    <h5>Calculation</h5>
                    <div class="calcblock">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Amount</label>
                            @Html.TextBoxFor(m => m.amount, new { @class = "form-control text-right numericbox", maxlength = "50", autocomplete = "off" })
                            @*@Html.ValidationMessageFor(m => m.amount)*@
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Remaining Payment</label>
                            @Html.TextBoxFor(m => m.changedue, new { @class = "form-control text-right", maxlength = "50", @readonly = "readonly" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Comments</label>
                            @Html.TextBoxFor(m => m.description, new { @class = "form-control text-left", maxlength = "255", autocomplete = "off" })
                        </div>
                    </div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="3" class="calctable noipadview">
                        <tr>
                            <td onclick="WriteText('5');">5</td>
                            <td onclick="AddWriteText('10');">10</td>
                            <td onclick="AddWriteText('20');">20</td>
                            <td onclick="AddWriteText('50');">50</td>
                            <td onclick="AddWriteText('100');">100</td>
                        </tr>
                        <tr>
                            <td onclick="WriteText('7');">7</td>
                            <td onclick="WriteText('8');">8</td>
                            <td onclick="WriteText('9');">9</td>
                            <td rowspan="2" colspan="2" class="mb" onclick="backspace();">Back</td>
                        </tr>
                        <tr>
                            <td onclick="WriteText('4');">4</td>
                            <td onclick="WriteText('5');">5</td>
                            <td onclick="WriteText('6');">6</td>
                        </tr>
                        <tr>
                            <td onclick="WriteText('1');">1</td>
                            <td onclick="WriteText('2');">2</td>
                            <td onclick="WriteText('3');">3</td>
                            <td rowspan="2" colspan="2" class="mb" onclick="cleartext();">Clear</td>
                        </tr>
                        <tr>
                            <td onclick="WriteText('0');">0</td>
                            <td onclick="WriteText('00');">00</td>
                            <td onclick="WriteText('.');">.</td>
                        </tr>
                    </table>

                </div>
                <div class="col-md-3-m buttonscol">
                    @*<a href="#" id="menu-toggle" class`="toglinkpop"><img src="~/POSContent/images/ic-menu_black.png" alt=""></a>*@
                    @*<button type="submit" id="btndiscount" class="btn btn-default" onclick="onActionClick('discount')">Discount</button>*@
                    <button type="submit" id="btnCash" class="btn btn-default" onclick="onActionClick('cash');">Cash</button>
                    <button type="submit" class="btn btn-default" onclick="onActionClick('cheque');">Cheque</button>
                    <button type="submit" class="btn btn-default" onclick="onActionClick('visa');">Visa</button>
                    <button type="submit" class="btn btn-default" onclick="onActionClick('mastercard');">Mastercard</button>
                    @*<button type="submit" class="btn btn-default" onclick="onActionClick('laser');">Laser</button>*@
                    <button class="btn btn-default" onclick="LoadVoucherSeach();">Gift Voucher</button>
                    <button type="submit" class="btn btn-default" onclick="LoadCreditNoteSearch();">Credit Note</button>
                    <button type="submit" id="btnPaypal" class="btn btn-default" onclick="onActionClick('paypal');">Paypal</button>
                    <button type="button" class="btn btn-primary" onclick="ClearPayment();">Clear Payment</button>
                </div>
            </div>
        </div>

    </div><!-- Content Area End -->
    <div class="modal-footer">
        @*<button type="reset" id="btnPlaceOrder" class="btn btn-primary">Confirm Order</button>&nbsp;<button type="reset" class="btn btn-default" data-dismiss="modal">Cancel</button>*@
        <button id="btnPrintSave" type="reset" class="btn btn-primary">Print & Save</button>&nbsp;<button type="reset" id="btnPlaceOrder" class="btn btn-default">Save</button>&nbsp;<button type="reset" class="btn btn-default" data-dismiss="modal">Back</button>
    </div>
    <input type="hidden" id="hdnpaymentaction" name="paymentaction" value="@Model.paymentaction" />
    <input type="hidden" id="hdnReportBIRTURL" name="paymentaction" value="@Model.BIRTReportURL" />
    <input type="hidden" id="hiddenChangeDueInfo" name="paymentaction" value="@Model.changedueInfo" />
    <input type="hidden" id="hiddenOrderId" name="paymentaction" />
}


<script type="text/javascript">


    $(document).ready(function () {

        $(".numericbox").keydown(function (e) {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
               (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
               (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        $('.toglinkpop').on('click', function () {
            $('.buttonscol').toggleClass('active');
            return false;
        });

        jQuery.validator.unobtrusive.parse();
        jQuery.validator.unobtrusive.parse("form");
        setTimeout(function () { $("#amount").focus();
            if($("#amount").val()=="0")
                $("#amount").val("");

        },500);

        $('#btnPrintSave').on('click', function () {

            if (@Model.paidamount == 0) {
                if (!confirm("Are you sure you want to finalise sale without payment ?")) {
                    return false;
                }
            }

            var val = $("#hiddenChangeDueInfo").val();
            if (Number(val) > 0) {
                var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/ChangeDueInfo"))";
                var data = { changeval: val, isprint: "true" }
                var paymentinfodialog = POSJS.LoadDialogueBoxSmall(partialViewUrl, 'dialogdue', 'Change Due', data);
                return false;
            }
            else
                PlaceOrder(true);
        });

        $('#btnPlaceOrder').on('click', function () {
            //
            if (@Model.paidamount == 0) {
                if (!confirm("Are you sure you want to finalise sale without payment ?")) {
                    return false;
                }
            }
            var val = $("#hiddenChangeDueInfo").val();
            if (Number(val) > 0) {
                var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/ChangeDueInfo"))";
                var data = { changeval: val, isprint: "false" }
                var paymentinfodialog = POSJS.LoadDialogueBoxSmall(partialViewUrl, 'dialogdue', 'Change Due', data);
                return false;
            }
            else
                PlaceOrder(false);
        });


    });

    function Validateorder()
    {

    }

    function checkreport()
    {

    }

    function PlaceOrder(isprint) {

        var userpassword = $("#password").val();
        var orderemail = $("#customeremail").val();
        var isOrderSent = $('#isOrderChecked').prop("checked");
        var ordercomment = $("#description").val();
        var sperson = $("#ddlsalesperson").val();

        var formdata = { inputpassword: userpassword, customeremail: orderemail, isOrderChecked: isOrderSent, ordercomment:ordercomment ,salesperson:sperson }
        var url = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/PlaceOrder"))";
        $.ajax({
            "url": url,
            cache: false,
            async: false,
            data: formdata,
            type: "POST",
            success: function (resultData) {
                if (resultData.success) {
                    var orderId = resultData.orderId;
                    $("#hiddenOrderId").val(orderId);

                    if (isprint == true) {
                        var reporturl = $("#hdnReportBIRTURL").val().replace("{orderid}", orderId);
                        window.open(reporturl, '_blank', "height=1000,width=800");
                    }

                    @*if(isprint)
                    {
                        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/_GetReport"))";
                        var reportoptiondialog = POSJS.LoadDialogueBoxSmall(partialViewUrl, 'reportoptiondialog', 'Select Report', null);
                    }
                    else
                    {*@
                    //BootstrapDialog.alert(resultData.message, function () {
                        window.location.reload(true);
                        window.location.href = '@Url.Action("Index", "POS")';
                        $.each(BootstrapDialog.dialogs, function (id, dialog) {
                            if (id === "dialogPaymentInfo") {
                                dialog.close();
                            }
                        });

                        
                        @*var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/_ChangeSalesPerson"))";
                            var reportoptiondialog = POSJS.LoadDialogueBoxSmall(partialViewUrl, 'dialogChangeSalesPerson', 'Change SalesPerson', null);

                            var urlAction = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))Customer/CreateNewOrder"
                            var result = POSJS.CreateNewOrder(urlAction);*@
                        //});
                    //}
                    @*var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/_GetReport"))";
                    POSJS.OpenReport(partialViewUrl);*@
                    @*$.ajax({
                        url: partialViewUrl,
                        type: "POST",
                        //data: {
                        //    sType: Stype ,productid: Productid
                        //},
                        contentType: "application/json; charset=utf-8",
                        success: function (resultData) {
                            if (isprint == true) {
                                var reporturl = $("#hdnReportBIRTURL").val().replace("{orderid}", orderId);
                                window.open(reporturl, '_blank', "height=1000,width=800");
                            }
                            BootstrapDialog.alert(resultData.message, function () {
                                window.location.reload(true);
                                window.location.href = '@Url.Action("Index", "POS")';
                                $.each(BootstrapDialog.dialogs, function (id, dialog) {
                                    if (id === "dialogPaymentInfo") {
                                        dialog.close();
                                    }
                                });
                            });
                        }

                    });*@
                    //LoadOrderSummary(orderId);
                }
                else {
                    //alert(resultData.message);
                    BootstrapDialog.alert(resultData.message);
                }
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                BootstrapDialog.alert(xhr.responseText);
            }
        });
    }

    function DisplayReport(reportname)
    {

        var reporturl = $("#hdnReportBIRTURL").val().replace("{orderid}", $("#hiddenOrderId").val());
        var reporturl = reporturl.replace("reportname",reportname);
        window.open(reporturl, '_blank', "height=1000,width=800");

        //window.location.reload(true);
        @*window.location.href = '@Url.Action("Index", "POS")';*@
        $.each(BootstrapDialog.dialogs, function (id, dialog) {
            if (id === "dialogPaymentInfo") {
                dialog.close();
            }
        });
        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/_ChangeSalesPerson"))";
        var reportoptiondialog = POSJS.LoadDialogueBoxSmall(partialViewUrl, 'dialogChangeSalesPerson', 'Change SalesPerson', null);

        var urlAction = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))Customer/CreateNewOrder"
        var result = POSJS.CreateNewOrder(urlAction);

    }

    function LoadVoucherSeach() {

        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/VoucherDisplay"))";
        var paymentinfodialog = POSJS.LoadDialogueBox(partialViewUrl, 'dialogVoucherSearch', 'Voucher Search', null);

    }

    function LoadCreditNoteSearch() {

        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/CreditNoteDisplay"))";
        var paymentinfodialog = POSJS.LoadDialogueBox(partialViewUrl, 'dialogCreditNoteSearch', 'Credit Note Search', null);

    }

    function ClearPayment() {
        var url = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/ClearPayment"))";
        $.ajax({
            "url": url,
            cache: false,
            async: false,
            type: "POST",
            success: function (resultData) {
                var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/PaymentInfo"))";
                var data = POSJS.ReloadPaymentInfo(partialViewUrl);
                $("#modelWindow").html(data);
                loadOrderMainGrid();
                $("#amount").focus();
            }
        });

    }
    function onClickCashButton(actionvalue) {
        $('form#AjaxForm').submit();

    }
    function onActionClick(actionvalue) {

        if ($("#amount").val().trim() == "" || parseInt($("#amount").val()) == 0 || $.isNumeric($("#amount").val()) == false) {
            BootstrapDialog.alert("Please enter payment amount");
            return false;
        }
        $("#hdnpaymentaction").val(actionvalue);

        return true;
    }


    function LoadOrderSummary(orderId) {

        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/_OrderSummary"))";
        var data = { orderId: orderId };

        var paymentinfodialog = POSJS.LoadDialogueBox(partialViewUrl, 'dialogOrderSummary', 'POS', data);

        //$("#dialogOrderSummary").on("hidden.bs.modal", function () {
        //    alert('close');
        //});
    }

    function OnSuccessSave(data) {

        if (data.success == false) {
            BootstrapDialog.alert(data.message);
        }
        else {

            var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/PaymentInfo"))";
            var data = POSJS.ReloadPaymentInfo(partialViewUrl);
            $("#modelWindow").html(data);
            loadOrderMainGrid();
            $("#amount").focus();
        }
    }

    $('#amount').on('change', function () {

        var changedue = Number($('#invoiceamount').html()) - Number($('#amount').val());
        $('#changedue').val(changedue);
        if (changedue < 0) {
            $("#changedue").css({ "background-color": "pink" });
        }

    });

    function reloadPayment() {
        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/PaymentInfo"))";
        var data = POSJS.ReloadPaymentInfo(partialViewUrl);
        $("#modelWindow").html(data);
    }
    function WriteText(sid) {

        if ($('#amount').val().length < 10) {

            if (Number($('#amount').val()) == "0.00")
                $('#amount').val(sid);
            else
                $('#amount').val($('#amount').val() + sid);
            //ValidateDecimalOnLeave();
        }

    }
    function AddWriteText(sid) {

        if ($('#amount').val().length < 10) {
            $('#amount').val(Number($('#amount').val()) + Number(sid));
        }

    }


    function cleartext() {
        $('#amount').val("");
    }

    function backspace() {
        var temp = "";

        if ($('#amount').val().length > 0) {
            $('#amount').val($('#amount').val().substring(0, $('#amount').val().length - 1));
        }
    }
</script>

