﻿@model GoodSide.Web.Models.Customer.VoucherViewModel
<style>
    .modal-body {
        max-height: calc(100vh - 212px);
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>


@using (Ajax.BeginForm("SaveVoucher", null, new AjaxOptions { OnBegin = "AjaxRequestStart();", OnComplete = "AjaxRequestFinish();", HttpMethod = "Post", OnSuccess = "SaveVoucherSuccess" }, new { enctype = "multipart/form-data" }))
{
    <div class="row center-block" id="divcustomerform">
        @Html.HiddenFor(m => m.voucherid)
        <div class="col-sm-10">

            <div class="form-group">
                <label>Code :</label>
                @Html.TextBoxFor(m => m.code, new { @class = "form-control", maxlength = "50", @readonly = "readonly" })
            </div>

        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <label>Ref. No.@*<b>(Enter 2 digits to search for existing customer (all stores)) </b>*@</label>
                @Html.TextBoxFor(m => m.RefNo, new { @class = "form-control", maxlength = "50" })
            </div>
        </div>

        <div class="col-sm-10">
            <div class="form-group">
                <label>Customer Name</label>
                @Html.TextBoxFor(m => m.customername, new { @class = "form-control", maxlength = "50", @readonly = "readonly" })
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <label>Sales Person</label>
                @Html.DropDownListFor(m => m.SalePersonId, Model.SalesPersons, "---Select Sales Persons---", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.SalePersonId)
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <label>Description</label>
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <label>Amount</label>
                @Html.TextBoxFor(m => m.amount, new { @class = "form-control", maxlength = "50", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.amount)
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <label>Sales PaymentTypes</label>
                @Html.DropDownListFor(m => m.PaymentType, Model.PayTypes, "---Select Payment Type---", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PaymentType)
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <label class="control-label">Issue Date</label>
                @*<span>@Html.TextBoxFor(model => model.deliverydate, new { @class = "deliverydate form-control", type = "date" })</span>*@
                <span>@Html.TextBoxFor(model => model.IssueDate, new { @class = "datefield form-control", type = "text", autocomplete = "off" })</span>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="form-group">
                <label class="control-label">Expiry Date</label>
                @*<span>@Html.TextBoxFor(model => model.deliverydate, new { @class = "deliverydate form-control", type = "date" })</span>*@
                <span>@Html.TextBoxFor(model => model.ExpiryDate, new { @class = "datefield form-control", type = "text", autocomplete = "off" })</span>
            </div>
        </div>

        <div class="col-sm-10">
            <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <span>@Html.PasswordFor(m => m.Password, new { @class = "form-control", maxlength = "50", autocomplete = "off" })</span>
            </div>
        </div>
    </div>
    <div class="row padding-lg-bottom">
        <div class="col-sm-10">
            <div>
                <div class="form-group pull-right">
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" type="button"><i class='fa fa-ban'></i> Cancel</button>
                    <button class="btn btn-success" type="submit"><i class='fa fa-search'></i> Save</button>

                </div>
                <br />
            </div>
        </div>
    </div>

}
<script type="text/javascript">
    var addCounter = 0;
    $(document).ready(function () {
        jQuery.validator.unobtrusive.parse();
        jQuery.validator.unobtrusive.parse("form");

  
    });
    @*function ReloadCustomerData(custId) {
        var customerdata = { customerId: custId };
        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/CustomerAddEdit"))";
        var data = POSJS.ReloadCustomerEdit(partialViewUrl, customerdata);
        $("#modelWindow").html(data);
        SelectCustomer(custId, false);
    }*@

    $('.datefield').datepicker({
        dateFormat: 'dd-mm-yy'
    });

    $("#IssueDate").blur(function () {
        val = $(this).val();
        val1 = Date.parse(val);
        if (isNaN(val1) == true && val !== '') {
            $("#IssueDate").val('');
        }
        else {
            console.log(val1);
        }
    });


    $("#ExpiryDate").blur(function () {
        val = $(this).val();
        val1 = Date.parse(val);
        if (isNaN(val1) == true && val !== '') {
            $("#ExpiryDate").val('');
        }
        else {
            console.log(val1);
        }
    });

    $("#IssueDate").val($.datepicker.formatDate("dd-mm-yy", new Date()));
    $("#ExpiryDate").val($.datepicker.formatDate("dd-mm-yy", new Date()));

    function SaveVoucherSuccess(data) {

        var _messageType;
        if (data.IsSuccess) {            
            //BootstrapDialog.alert('New Voucher ' + data.VoucherCode + ' Added Successfully');           
            $.each(BootstrapDialog.dialogs, function (id, dialog) {
                if (id === "dialogVoucherAddEdit"){
                    dialog.close();
                }
                if (id === "dialogVoucherSearch") {
                    dialog.close();
                }
            });

            $('.dataTable').each(function () {
                dt = $('#tblcustomerlist').dataTable();
                dt.fnDraw();
            })

            var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/VoucherDisplay"))";
            var paymentinfodialog = POSJS.LoadDialogueBox(partialViewUrl, 'dialogVoucherSearch', 'Voucher Search', null);        

            
        }
        else {
            var Error = data.Message;
            BootstrapDialog.alert(Error);
        }
    }

    @*function SelectCustomer(custId, needtoclose) {

        var actionURL = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/AddCustomerInfoToOrder"))";

        POSJS.SelectCustomer(custId, actionURL, 'divCustomerInfo', true);
        if (needtoclose == true) {
            POSJS.CloseDialog("dialogCustomerAddEdit");
        }
        loadOrderMainGrid();
        var actionURL = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/_OtherInfo"))";
        POSJS.UpdateOtherInfo(actionURL, 'dvOtherInfo');
    }*@

</script>