﻿
@model GoodSide.Web.Models.Customer.PaymentVoucherViewModel
<div class="row">
    <div class="col-sm-12">
        <button type="button" class="btn btn-default" onclick="goToPayment();">Go To Payment</button>
        <button type="button" class="btn btn-default" onclick="AddNewVoucher('0');">Add New Voucher</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table id="tblcustomerlist" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ADD</th>
                        <th>AMOUNT</th>
                        <th>CODE</th>
                        <th>CUSTOMER</th>
                        <th>REMAINING COUNT</th>

                    </tr>
                </thead>
            </table>
        </div>

    </div>
    @Html.HiddenFor(m => m.code,new { @id="hdnCode"})
    @Html.HiddenFor(m => m.remainingamount,new { @id="hdnRemainingamount"})
    @Html.HiddenFor(m => m.amount,new { @id="hdnamount"})
    @Html.HiddenFor(m => m.voucherid,new { @id="hdnvoucherid"})


</div>

<script type="text/javascript">
    $(document).ready(function () {
        jQuery.validator.unobtrusive.parse();
        jQuery.validator.unobtrusive.parse("form");

    });

    //if (oTable != null) oTable.fnDestroy();
    ////Remove all the DOM elements
    //$('#tblcustomerlist').empty();

    var table;
    var htmlResult;
    var oTable;


    $(function () {

        oTable = $('#tblcustomerlist').dataTable({
            "bDestroy": true,
            "processing": true,
            "serverSide": true,
            "info": true,
            "stateSave": true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "ajax": {
                "url": "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))Customer/GetTableDataVoucherDisplay",
        "type": "GET"
    },
            "columns": [

                { "data": "voucherid", "orderable": false, "render": function (data, type, full, meta) { return "<button type='button' class='btn btn-default' onclick='AddGiftVoucherClick(this);'>Add</button>" } },
                { "data": "amount", "orderable": true , "render": function (data, type, full, meta) { return "<input  type='text' maxlength='4' ></input>" } },
                { "data": "code", "orderable": true },
                { "data": "customername", "orderable": false },
                { "data": "remainingamount", "orderable": false }

                //{ "data": "id", "orderable": false }

            ],
            "order": [[2, "asc"]],
            //'fnDrawCallback': function (oSettings) {
            //    $('#tblcustomerlist_filter').each(function () {
            //        $(this).append('<button class="btn btn-primary" id="btnSearch" onclick="SearchCustomer()" type="button">Search Customers</button>');
            //    });
            //}

    initComplete: function () {
        var input = $('.dataTables_filter input').unbind(),
            self = this.api(),
            $searchButton = $('<button>')
                       .text('Search voucher')
                       .prop("type", "button")
                       .prop("style", "margin-left:10px")
                       .addClass('btn btn-primary')
                       .click(function () {
                           self.search(input.val()).draw();
                       }),
            $clearButton = $('<button>')
                       .text('clear')
                       .prop("type", "button")
                       .addClass('btn btn-primary')
                       .click(function () {
                           input.val('');
                           $searchButton.click();
                       })
        $('.dataTables_filter').append($searchButton);
    }

    });

    oTable.fnSort([[2, 'asc']]);

    table = oTable.DataTable();

    $('#tblcustomerlist_filter input').unbind()


    });


    function goToPayment()
    {
        
        POSJS.CloseDialog("dialogVoucherSearch");
        
    }

    function AddNewVoucher(VoucherId) {

        var data = { VId: VoucherId }
        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/customer/VoucherAddEdit"))";
            POSJS.dialogCustomerInstance = POSJS.LoadDialogueBox(partialViewUrl, 'dialogVoucherAddEdit', 'Voucher Add/Edit', data);

    }
   
    function AddGiftVoucherClick(obj) {

    
        var data = table.row( $(obj).parents('tr') ).data();
        var amount=$(obj).closest('td').next().find('input').val();
        
        AddGiftVoucherData(data.code,data.voucherid,data.remainingamount,amount)

        return true;
    }
    function AddGiftVoucherData(code, voucherid, remainingamount, amount) {


        // return true;

        var d = {
            code: code,
            remainingamount: remainingamount,
            amount: amount,
            voucherid: voucherid,
        }
        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/AddGiftVoucher"))";
            $.ajax({
                url: partialViewUrl,
                cache: false,
                async: false,
                type: "Post",
                data: d,
                success: function (data) {

                    var msg = data.Message;
                    BootstrapDialog.alert(msg);
                    if (data.IsSuccess)
                    {
                        reloadPayment();
                        goToPayment();
                    }
                    
                }
            });


    }
   

    function OnSuccessSave(data) {
        //alert(data.Message);
    }

</script>

