﻿<style>
    .modal-body {
        max-height: calc(100vh - 212px);
        overflow-y: auto;
        overflow-x: hidden;
    }

    .customer-address-control {
        width: 300px !important;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <div class="form-group">
                <label class="control-label">Customer:</label>
                @Html.DropDownList("Active", new List<SelectListItem>
                            {
                                new SelectListItem{ Text="Active", Value = "1" },
                                new SelectListItem{ Text="InActive", Value = "0" }
                             }, new { @id = "ddlActive", @onchange = "CallChangefunc(this.value)" })
            </div>
            <table id="tblcustomerlist" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>View Sales</th>
                        <th>View Quotes</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Phone</th>
                        @*<th>PostCode</th>*@
                        <th>Address  /  Postcode</th>
                        <th>SalesPerson</th>
                        <th>Balance</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>


<script type="text/javascript">
    function CallChangefunc(val) {
        $('.dataTable').each(function () {
            dt = $('#tblcustomerlist').dataTable();
            dt.fnDraw();
        })
    }

    $("#dialogCustomerSearch").keyup(function (event) {
        if (event.keyCode == 13) {
            SearchCustomer();
        }
    });

    var table;
    var htmlResult;
    var oTable;
    $(function () {

        oTable = $('#tblcustomerlist').dataTable({
            "processing": true,
            "serverSide": true,
            "info": true,
            "stateSave": true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "ajax": {
                "url": "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))Customer/GetTableData",
                "type": "GET",
                "data": function (d) {
                    var e = document.getElementById("ddlActive");
                    var isActive = e.options[e.selectedIndex].value;
                    d.CustActive = isActive
                }

            },
            "columns": [

                { "data": "id", "orderable": false, "render": function (data, type, full, meta) { return "<button class='btn btn-sm' onclick='SelectCustomer(\"" + data + "\")'>Select</button>" } },
                { "data": "id", "orderable": false, "render": function (data, type, full, meta) { return "<button class='btn btn-sm' onclick='Viewcustmororders(" + data + ",6)'>Sales</button>" } },
                { "data": "id", "orderable": false, "render": function (data, type, full, meta) { return "<button class='btn btn-sm' onclick='Viewcustmororders(" + data + ",4)'>Quotes</button>" } },
                { "data": "code", "orderable": true },
                { "data": "name", "orderable": true },
                { "data": "phone", "orderable": false },
                //{ "data": "Zip", "orderable": true },
                { "data": "address", "orderable": true, "class": "customer-address-control" },
                { "data": "salesperson", "orderable": false },
                { "data": "balance", "orderable": false }
                //{ "data": "id", "orderable": false }

            ],
            "order": [[0, "desc"]],
            //'fnDrawCallback': function (oSettings) {
            //    $('#tblcustomerlist_filter').each(function () {
            //        $(this).append('<button class="btn btn-primary" id="btnSearch" onclick="SearchCustomer()" type="button">Search Customers</button>');
            //    });
            //}

            initComplete: function () {
                var input = $('#tblcustomerlist_filter input').unbind(),
                    self = this.api(),
                    $searchButton = $('<button>')
                               .text('Search Customer')
                               .prop("type", "button")
                               .prop("style", "margin-left:10px")
                               .addClass('btn btn-primary')
                               .click(function () {
                                   self.search(input.val()).draw();
                               }),
                    $clearButton = $('<button>')
                               .text('clear')
                               .prop("type", "button")
                               .addClass('btn btn-primary')
                               .click(function () {
                                   input.val('');
                                   $searchButton.click();
                               })
                //,
                //    $chkActive = $('<checkbox>')
                //               .text('Active')
                //               .prop("type", "checkbox")
                //               .prop("style", "margin-left:10px")
                //               .addClass('checkbox')
                //               .click(function () {
                //                   self.search(input.val()).draw();
                //               })
                //$('#tblcustomerlist_filter').append($chkActive);
                $('#tblcustomerlist_filter').append($searchButton);

            }

        });

        oTable.fnSort([[0, 'desc']]);

        table = oTable.DataTable();

        $('#tblcustomerlist_filter input').unbind()


    });

    function SearchCustomer() {
        oTable.fnFilter($('#tblcustomerlist_filter input').val());
    }

    function SelectCustomer(custId) {
        var e = document.getElementById("ddlActive");
        var isActive = e.options[e.selectedIndex].value;

        if (isActive == 0) {
            BootstrapDialog.confirm({
                btnCancelLabel: 'Cancel', // <-- Default value is 'Cancel',
                btnOKLabel: 'Continue', // <-- Default value is 'OK',
                message: 'You Cannot Create Sale With InActive Customer, Please Change the Customer Status Before Placing Order',
                btnOKClass: 'btn-ok',
                btnCancelClass: 'btn-ok',// <-- If you didn't specify it, dialog type will be used,
                callback: function (result) {
                    // result will be true if button was click, while it will be false if users close the dialog directly.
                    if (result) {
                        CustomerSelect(custId);
                    } else {

                    }
                }
            });
        }
        else
            CustomerSelect(custId);

    }

    function CustomerSelect(custId) {
        var actionURL = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Customer/AddCustomerInfoToOrder"))";
        POSJS.SelectCustomer(custId, actionURL, 'divCustomerInfo', true);
        $.each(BootstrapDialog.dialogs, function (id, dialog) {
            if (id === "dialogCustomerSearch") {
                dialog.close();
            }
        });

        loadOrderMainGrid();
        var actionURL = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/POS/_OtherInfo"))";
        POSJS.UpdateOtherInfo(actionURL, 'dvOtherInfo');
    }
    function Viewcustmororders(custId, ordstatus) {
        var data = { customerId: custId, OrderStatus: ordstatus }
        var partialViewUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/customer/_CustomerOrderSummary"))";
        POSJS.dialogCustomerInstance = POSJS.LoadDialogueBox(partialViewUrl, 'dialogCustomerOrder', 'Customer Order', data);
    }


</script>
